<div class="fit-size-chart__chart" data-tab="bottoms">
  <h4 class="fit-size-chart__current-country">US Sizing</h4>
  <div class="fit-size-chart__chart-tabs">
    <button class="fit-size-chart__chart-tab detail-caps active" data-tab="all-us">US Sizing <span class="hide-desktop">{% render 'icon-caret-down' %}</span></button>
    <button class="fit-size-chart__chart-tab detail-caps" data-tab="all-uk">UK Sizing <span class="hide-desktop">{% render 'icon-caret-down' %}</span></button>
    <button class="fit-size-chart__chart-tab detail-caps" data-tab="all-eu">EU Sizing <span class="hide-desktop">{% render 'icon-caret-down' %}</span></button>
    <button class="fit-size-chart__chart-tab detail-caps" data-tab="all-au">AU Sizing <span class="hide-desktop">{% render 'icon-caret-down' %}</span></button>
  </div>

  <table class="fit-size-chart__chart-container active" data-tab="all-us">
    <tr>
      <th class="caption-neue">Dress Size</th>
      <th class="caption-neue">Our Size</th>
    </tr>
    <tr>
      <td class="body-small">0-2</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">P</div>Petite</td>
    </tr>
    <tr>
      <td class="body-small">4-6</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">S</div>Small</td>
    </tr>
    <tr>
      <td class="body-small">6-8</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">M</div>Medium</td>
    </tr>
    <tr>
      <td class="body-small">8-10</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">L</div>Large</td>
    </tr>
    <tr>
      <td class="body-small">12-14</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">V</div>Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">14-16</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble medium">VV</div>Very Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">16-18</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble long">VVV</div>Very Very Voluptuous</td>
    </tr>
  </table>

  <table class="fit-size-chart__chart-container" data-tab="all-uk">
    <tr>
      <th class="caption-neue">Dress Size</th>
      <th class="caption-neue">Our Size</th>
    </tr>
    <tr>
      <td class="body-small">2-4</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">P</div>Petite</td>
    </tr>
    <tr>
      <td class="body-small">6-8</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">S</div>Small</td>
    </tr>
    <tr>
      <td class="body-small">8-10</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">M</div>Medium</td>
    </tr>
    <tr>
      <td class="body-small">10-12</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">L</div>Large</td>
    </tr>
    <tr>
      <td class="body-small">14-16</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">V</div>Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">16-18</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble medium">VV</div>Very Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">18-20</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble long">VVV</div>Very Very Voluptuous</td>
    </tr>
  </table>

  <table class="fit-size-chart__chart-container" data-tab="all-eu">
    <tr>
      <th class="caption-neue">Dress Size</th>
      <th class="caption-neue">Our Size</th>
    </tr>
    <tr>
      <td class="body-small">0-2</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">P</div>Petite</td>
    </tr>
    <tr>
      <td class="body-small">6</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">S</div>Small</td>
    </tr>
    <tr>
      <td class="body-small">8</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">M</div>Medium</td>
    </tr>
    <tr>
      <td class="body-small">10</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">L</div>Large</td>
    </tr>
    <tr>
      <td class="body-small">12</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">V</div>Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">14</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble medium">VV</div>Very Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">16-18</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble long">VVV</div>Very Very Voluptuous</td>
    </tr>
  </table>

  <table class="fit-size-chart__chart-container" data-tab="all-au">
    <tr>
      <th class="caption-neue">Dress Size</th>
      <th class="caption-neue">Our Size</th>
    </tr>
    <tr>
      <td class="body-small">0-2</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">P</div>Petite</td>
    </tr>
    <tr>
      <td class="body-small">6</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">S</div>Small</td>
    </tr>
    <tr>
      <td class="body-small">8</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">M</div>Medium</td>
    </tr>
    <tr>
      <td class="body-small">10</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">L</div>Large</td>
    </tr>
    <tr>
      <td class="body-small">12</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble">V</div>Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">14</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble medium">VV</div>Very Voluptuous</td>
    </tr>
    <tr>
      <td class="body-small">16-18</td>
      <td class="caption-neue"><div class="fit-size-chart__size-bubble long">VVV</div>Very Very Voluptuous</td>
    </tr>
  </table>
  
</div>