<div class="size-chart-dropdown__chart-container">

  <div class="size-chart-dropdown__tabs">
    <button class="size-chart-dropdown__tab detail-caps active" data-tab="us">US Sizing</button>
    <button class="size-chart-dropdown__tab detail-caps" data-tab="uk">UK Sizing</button>
    <button class="size-chart-dropdown__tab detail-caps" data-tab="eu">EU Sizing</button>
    <button class="size-chart-dropdown__tab detail-caps" data-tab="au">AU Sizing</button>
  </div>

  <div class="size-chart-dropdown__chart-wrapper active" data-tab="us">
    <table class="size-chart-dropdown__chart">
      <tr>
        <th class="size-chart-dropdown__chart-header empty"></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">P</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">S</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">M</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">L</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">V</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps medium">VV</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps large">VVV</span></th>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">US Size</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Waist (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Hip (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
    </table>
  </div>

  <div class="size-chart-dropdown__chart-wrapper" data-tab="uk">
    <table class="size-chart-dropdown__chart">
      <tr>
        <th class="size-chart-dropdown__chart-header empty"></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">P</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">S</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">M</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">L</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">V</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps medium">VV</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps large">VVV</span></th>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">US Size</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      {% comment %}
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Waist (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Hip (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      {% endcomment %}
    </table>
  </div>

  <div class="size-chart-dropdown__chart-wrapper" data-tab="eu">
    <table class="size-chart-dropdown__chart">
      <tr>
        <th class="size-chart-dropdown__chart-header empty"></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">P</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">S</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">M</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">L</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">V</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps medium">VV</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps large">VVV</span></th>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">US Size</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      {% comment %}
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Waist (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Hip (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      {% endcomment %}
    </table>
  </div>

  <div class="size-chart-dropdown__chart-wrapper" data-tab="au">
    <table class="size-chart-dropdown__chart">
      <tr>
        <th class="size-chart-dropdown__chart-header empty"></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">P</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">S</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">M</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">L</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps">V</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps medium">VV</span></th>
        <th class="size-chart-dropdown__chart-header"><span class="detail-caps large">VVV</span></th>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">US Size</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      {% comment %}
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Waist (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      <tr>
        <td class="size-chart-dropdown__chart-text left detail-caps">Hip (In)</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
        <td class="size-chart-dropdown__chart-text center detail-caps">0-2</td>
      </tr>
      {% endcomment %}
    </table>
  </div>

</div>