{% case type %}
  {% when 'top' %}
    <table class="size-chart__table">
      <tr>
        <th class="detail-caps">Monday Size</th>
        <th class="detail-caps">US Dress Size</th>
        <th class="detail-caps">Bust</th>
        <th class="detail-caps">Under Bust</th>
        <th class="detail-caps">UK</th>
        <th class="detail-caps">EU</th>
        <th class="detail-caps">AU</th>
      </tr>
      <tr>
        <td class="detail-caps">P</td>
        <td class="detail-caps">0-2</td>
        <td class="detail-caps">32-33.5</td>
        <td class="detail-caps">26.5-28</td>
        <td class="detail-caps">2-4</td>
        <td class="detail-caps">30-32</td>
        <td class="detail-caps">4-6</td>
      </tr>
      <tr>
        <td class="detail-caps">S</td>
        <td class="detail-caps">4-6</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">28.5-30</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">34-36</td>
        <td class="detail-caps">8-10</td>
      </tr>
      <tr>
        <td class="detail-caps">M</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">30.5-32</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">36-38</td>
        <td class="detail-caps">10-12</td>
      </tr>
      <tr>
        <td class="detail-caps">L</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">38-39.5</td>
        <td class="detail-caps">32.5-34</td>
        <td class="detail-caps">10-12</td>
        <td class="detail-caps">38-40</td>
        <td class="detail-caps">12-14</td>
      </tr>
      <tr>
        <td class="detail-caps">V</td>
        <td class="detail-caps">12-14</td>
        <td class="detail-caps">40-41.5</td>
        <td class="detail-caps">34.5-36</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">42-44</td>
        <td class="detail-caps">16-18</td>
      </tr>
      <tr>
        <td class="detail-caps">VV</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">42-43.5</td>
        <td class="detail-caps">36.5-38</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">44-46</td>
        <td class="detail-caps">18-20</td>
      </tr>
      <tr>
        <td class="detail-caps">VVV</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">44-45.5</td>
        <td class="detail-caps">38.5-40</td>
        <td class="detail-caps">18-20</td>
        <td class="detail-caps">46-48</td>
        <td class="detail-caps">20-22</td>
      </tr>
    </table>
  {% when 'bottom' %}
    <table class="size-chart__table">
      <tr>
        <th class="detail-caps">Monday Size</th>
        <th class="detail-caps">US Dress Size</th>
        <th class="detail-caps">Waist</th>
        <th class="detail-caps">Hip</th>
        <th class="detail-caps">UK</th>
        <th class="detail-caps">EU</th>
        <th class="detail-caps">AU</th>
      </tr>
      <tr>
        <td class="detail-caps">P</td>
        <td class="detail-caps">0-2</td>
        <td class="detail-caps">24-25.5</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">2-4</td>
        <td class="detail-caps">30-32</td>
        <td class="detail-caps">4-6</td>
      </tr>
      <tr>
        <td class="detail-caps">S</td>
        <td class="detail-caps">4-6</td>
        <td class="detail-caps">26-27.5</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">34-36</td>
        <td class="detail-caps">8-10</td>
      </tr>
      <tr>
        <td class="detail-caps">M</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">28-29.5</td>
        <td class="detail-caps">38-39.5</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">36-38</td>
        <td class="detail-caps">10-12</td>
      </tr>
      <tr>
        <td class="detail-caps">L</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">30-31.5</td>
        <td class="detail-caps">40-41.5</td>
        <td class="detail-caps">10-12</td>
        <td class="detail-caps">38-40</td>
        <td class="detail-caps">12-14</td>
      </tr>
      <tr>
        <td class="detail-caps">V</td>
        <td class="detail-caps">12-14</td>
        <td class="detail-caps">32-33.5</td>
        <td class="detail-caps">42-43.5</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">42-44</td>
        <td class="detail-caps">16-18</td>
      </tr>
      <tr>
        <td class="detail-caps">VV</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">44-45.5</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">44-46</td>
        <td class="detail-caps">18-20</td>
      </tr>
      <tr>
        <td class="detail-caps">VVV</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">46-47.5</td>
        <td class="detail-caps">18-20</td>
        <td class="detail-caps">46-48</td>
        <td class="detail-caps">20-22</td>
      </tr>
    </table>
  {% when 'one-piece' %}
    <table class="size-chart__table">
      <tr>
        <th class="detail-caps">Monday Size</th>
        <th class="detail-caps">US Dress Size</th>
        <th class="detail-caps">Bust</th>
        <th class="detail-caps">Under Bust</th>
        <th class="detail-caps">Waist</th>
        <th class="detail-caps">Hip</th>
        <th class="detail-caps">UK</th>
        <th class="detail-caps">EU</th>
        <th class="detail-caps">AU</th>
      </tr>
      <tr>
        <td class="detail-caps">P</td>
        <td class="detail-caps">0-2</td>
        <td class="detail-caps">32-33.5</td>
        <td class="detail-caps">26.5- 28</td>
        <td class="detail-caps">24-25.5</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">2-4</td>
        <td class="detail-caps">30-32</td>
        <td class="detail-caps">4-6</td>
      </tr>
      <tr>
        <td class="detail-caps">S</td>
        <td class="detail-caps">4-6</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">28.5-30</td>
        <td class="detail-caps">26-27.5</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">34-36</td>
        <td class="detail-caps">8-10</td>
      </tr>
      <tr>
        <td class="detail-caps">M</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">30.5-32</td>
        <td class="detail-caps">28-29.5</td>
        <td class="detail-caps">38-39.5</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">36-38</td>
        <td class="detail-caps">10-12</td>
      </tr>
      <tr>
        <td class="detail-caps">L</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">38-39.5</td>
        <td class="detail-caps">32.5-34</td>
        <td class="detail-caps">30-31.5</td>
        <td class="detail-caps">40-41.5</td>
        <td class="detail-caps">10-12</td>
        <td class="detail-caps">38-40</td>
        <td class="detail-caps">12-14</td>
      </tr>
      <tr>
        <td class="detail-caps">V</td>
        <td class="detail-caps">12-14</td>
        <td class="detail-caps">40-41.5</td>
        <td class="detail-caps">34.5-36</td>
        <td class="detail-caps">32-33.5</td>
        <td class="detail-caps">42-43.5</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">42-44</td>
        <td class="detail-caps">16-18</td>
      </tr>
      <tr>
        <td class="detail-caps">VV</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">42-43.5</td>
        <td class="detail-caps">36.5-38</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">44-45.5</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">44-46</td>
        <td class="detail-caps">18-20</td>
      </tr>
      <tr>
        <td class="detail-caps">VVV</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">44-45.5</td>
        <td class="detail-caps">38.5-40</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">46-47.5</td>
        <td class="detail-caps">18-20</td>
        <td class="detail-caps">46-48</td>
        <td class="detail-caps">20-22</td>
      </tr>
    </table>
  {% when 'beachwear' %}
    <table class="size-chart__table">
      <tr>
        <th class="detail-caps">Monday Size</th>
        <th class="detail-caps">US Dress Size</th>
        <th class="detail-caps">Bust</th>
        <th class="detail-caps">Under Bust</th>
        <th class="detail-caps">Waist</th>
        <th class="detail-caps">Hip</th>
        <th class="detail-caps">UK</th>
        <th class="detail-caps">EU</th>
        <th class="detail-caps">AU</th>
      </tr>
      <tr>
        <td class="detail-caps">P</td>
        <td class="detail-caps">0-2</td>
        <td class="detail-caps">32-33.5</td>
        <td class="detail-caps">26.5- 28</td>
        <td class="detail-caps">24-25.5</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">2-4</td>
        <td class="detail-caps">30-32</td>
        <td class="detail-caps">4-6</td>
      </tr>
      <tr>
        <td class="detail-caps">S</td>
        <td class="detail-caps">4-6</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">28.5-30</td>
        <td class="detail-caps">26-27.5</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">34-36</td>
        <td class="detail-caps">8-10</td>
      </tr>
      <tr>
        <td class="detail-caps">M</td>
        <td class="detail-caps">6-8</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">30.5-32</td>
        <td class="detail-caps">28-29.5</td>
        <td class="detail-caps">38-39.5</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">36-38</td>
        <td class="detail-caps">10-12</td>
      </tr>
      <tr>
        <td class="detail-caps">L</td>
        <td class="detail-caps">8-10</td>
        <td class="detail-caps">38-39.5</td>
        <td class="detail-caps">32.5-34</td>
        <td class="detail-caps">30-31.5</td>
        <td class="detail-caps">40-41.5</td>
        <td class="detail-caps">10-12</td>
        <td class="detail-caps">38-40</td>
        <td class="detail-caps">12-14</td>
      </tr>
      <tr>
        <td class="detail-caps">V</td>
        <td class="detail-caps">12-14</td>
        <td class="detail-caps">40-41.5</td>
        <td class="detail-caps">34.5-36</td>
        <td class="detail-caps">32-33.5</td>
        <td class="detail-caps">42-43.5</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">42-44</td>
        <td class="detail-caps">16-18</td>
      </tr>
      <tr>
        <td class="detail-caps">VV</td>
        <td class="detail-caps">14-16</td>
        <td class="detail-caps">42-43.5</td>
        <td class="detail-caps">36.5-38</td>
        <td class="detail-caps">34-35.5</td>
        <td class="detail-caps">44-45.5</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">44-46</td>
        <td class="detail-caps">18-20</td>
      </tr>
      <tr>
        <td class="detail-caps">VVV</td>
        <td class="detail-caps">16-18</td>
        <td class="detail-caps">44-45.5</td>
        <td class="detail-caps">38.5-40</td>
        <td class="detail-caps">36-37.5</td>
        <td class="detail-caps">46-47.5</td>
        <td class="detail-caps">18-20</td>
        <td class="detail-caps">46-48</td>
        <td class="detail-caps">20-22</td>
      </tr>
    </table>
  {% when 'mini' %}
    <table class="size-chart__table">
      <tr>
        <th class="detail-caps">Size</th>
        <th class="detail-caps">Height (In)</th>
        <th class="detail-caps">Weight (Lbs)</th>
      </tr>
      <tr>
        <td class="detail-caps">12M</td>
        <td class="detail-caps">30-34</td>
        <td class="detail-caps">20-26</td>
      </tr>
      <tr>
        <td class="detail-caps">2T</td>
        <td class="detail-caps">34-36</td>
        <td class="detail-caps">26-31</td>
      </tr>
      <tr>
        <td class="detail-caps">3T</td>
        <td class="detail-caps">36-39</td>
        <td class="detail-caps">31-34</td>
      </tr>
      <tr>
        <td class="detail-caps">4T</td>
        <td class="detail-caps">39-42</td>
        <td class="detail-caps">34-38</td>
      </tr>
      <tr>
        <td class="detail-caps">5T</td>
        <td class="detail-caps">42-45</td>
        <td class="detail-caps">38-45</td>
      </tr>
    </table>
{% endcase %}