{{ 'section-about-text-over-image.css' | asset_url | stylesheet_tag }}

<div class="about-text-over-image">
  {% if section.settings.mobile_image != blank %}
    {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill hide-mobile' %}
    {% render 'lazy-image' image: section.settings.mobile_image, fade: true, classes: 'img-fill hide-desktop' %}
  {% else %}
    {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
  {% endif %}
  <div class="page-width">
    <h2 class="fade-in-up">{{ section.settings.text }}</h2>
  </div>
</div>

{% schema %}
  {
    "name": "About Text Over Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "About Text Over Image"
      }
    ]
  }
{% endschema %}