{{ 'section-about-text.css' | asset_url | stylesheet_tag }}

<div class="about-text">
  <div class="page-width">
    <div class="about-text__container">
      <h2>{{ section.settings.text }}</h2>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About Text",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "About Text",
        "category": "Custom"
      }
    ]
  }
{% endschema %}