<div class="body-collection-header">
  <div class="page-width">
    <div class="body-collection-header__container">
      <h4>{{ collection.title }}</h4>
      {% if collection.metafields.custom.collection_header_description != blank %}
        <p class="detail-caps">{{ collection.metafields.custom.collection_header_description }}</p>
      {% else %}
        <p class="detail-caps">{{ section.settings.text }}</p>
      {% endif %}

      {% if collection.metafields.custom.spotify_playlist != blank %}
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ collection.metafields.custom.spotify_playlist }}?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Body - Collection Header",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Only the best for your body"
      }
    ],
    "presets": [
      {
        "name": "Bpdy - Collection Header"
      }
    ]
  }
{% endschema %}