{{ 'section-body-page-header.css' | asset_url | stylesheet_tag }}

<div class="body-header">
  {% if section.settings.mobile_image != blank %}
    {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill hide-mobile' %}
    {% render 'lazy-image' image: section.settings.mobile_image, fade: true, classes: 'img-fill hide-desktop' %}
  {% else %}
    {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
  {% endif %}
  <div class="page-width">
    <div class="body-header__container fade-in-up">
      {% if section.settings.text_1 != blank %}
        <h2 class="body-header__text-1 h1">{{ section.settings.text_1 }}</h2>
      {% endif %}
      {% if section.settings.text_2 != blank %}
        <h2 class="body-header__text-2 h1">{{ section.settings.text_2 }}</h2>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Body - Page Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "Text 1"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "Text 2"
      }
    ],
    "presets": [
      {
        "name": "Body - Page Header"
      }
    ]
  }
{% endschema %}