<div class="collection-header">
  <div class="page-width">
    <div class="collection-header__container">
      <h2>{{ collection.title }}</h2>
      {% if collection.description != blank %}
      <p class="body-large">{{ collection.description }}</p>
      {% else %}
      <p class="body-large">{{ section.settings.text }}</p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection Header",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "We’re on vacation all year long."
      }
    ],
    "presets": [
      {
        "name": "Collection Header"
      }
    ]
  }
{% endschema %}