<section class="events-faqs event-block" data-section="faqs">
  <h2 class="event-title sh3">{{ section.settings.title }}</h2>
  <div class="events-faqs__container">
    {% for block in section.blocks %}
      <div class="faq__item{% if forloop.first %} active{% endif %}">
        <button class="faq__item-question">
          <p class="body">{{ block.settings.title }}</p>
          <div class="faq__item-control"></div>
        </button>
        <div class="faq__item-answer"{% if forloop.first %} style="display: block;"{% endif %}>
          <div class="faq__item-answer-container body-small">
            {{ block.settings.answer }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Events FAQs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "FAQs"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}