<div class="fit-size-chart">
  <div class="page-width">
    <div class="fit-size-chart__container">
      <div class="fit-size-chart__measurements">
        <div class="fit-size-chart__measurements-container">
          <p class="detail-caps">Measurements</p>
          <button class="fit-size-chart__tab active" data-tab="bras">
            {% render 'lazy-image' image: section.settings.bras_image, fade: true %}
            <p class="body">Bras / Tops</p>
          </button>
          <button class="fit-size-chart__tab" data-tab="shorts-leggings">
            {% render 'lazy-image' image: section.settings.shorts_leggings_image, fade: true %}
            <p class="body">Shorts / Leggings</p>
          </button>
        </div>
      </div>
      <div class="fit-size-chart__charts">

        <div class="fit-size-chart__chart active" data-tab="bras">
          <div class="fit-size-chart__chart-wrapper no-scrollbar">
            {% render 'size-chart' type: 'top' %}
          </div>
        </div>

        <div class="fit-size-chart__chart" data-tab="shorts-leggings">
          <div class="fit-size-chart__chart-wrapper no-scrollbar">
            {% render 'size-chart' type: 'bottom' %}
          </div>
        </div>
        
        <div class="fit-size-chart__arrow hidden">
          {% render 'icon-arrow-right' %}
        </div>

        <p class="fit-size-chart__disclaimer detail">{{ section.settings.disclaimer }}</p>

      </div>
    </div>
  </div>
</div>

{% javascript %}
  // Fit tabs
  const fitTabs = document.querySelectorAll('.fit-size-chart__tab');

  fitTabs.forEach(fitTab => {
    fitTab.addEventListener('click', event => {
      const tab = event.currentTarget.dataset.tab;

      document.querySelector('.fit-size-chart__tab.active').classList.remove('active');
      event.currentTarget.classList.add('active');

      document.querySelector('.fit-size-chart__chart.active').classList.remove('active');
      document.querySelector(`.fit-size-chart__chart[data-tab="${tab}"]`).classList.add('active');
    });
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Fit Guide Size Chart",
    "settings": [
      {
        "type": "image_picker",
        "id": "bras_image",
        "label": "Bras Image"
      },
      {
        "type": "image_picker",
        "id": "shorts_leggings_image",
        "label": "Shorts/Leggings Image"
      },
      {
        "type": "textarea",
        "id": "disclaimer",
        "label": "Disclaimer"
      }
    ]
  }
{% endschema %}