<div class="fit-guide-header__tabs">
  <button class="fit-guide-header__tab active" data-tab="tops">
    {% render 'lazy-image' image: section.settings.tops_image, fade: true %}
    <p class="sh1">Tops</p>
  </button>
  <button class="fit-guide-header__tab" data-tab="bottoms">
    {% render 'lazy-image' image: section.settings.bottoms_image, fade: true %}
    <p class="sh1">Bottoms</p>
  </button>
</div>

{% javascript %}
  const tabs = document.querySelectorAll('.fit-guide-header__tab');
  tabs.forEach(tab => {
    tab.addEventListener('click', event => {
      const tab = event.currentTarget.dataset.tab;

      document.querySelector('.fit-guide-header__tab.active').classList.remove('active');
      event.currentTarget.classList.add('active');

      document.querySelector('.fit-guide.active').classList.remove('active');
      document.querySelector(`.fit-guide[data-tab="${tab}"]`).classList.add('active');
    })
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Fit Guide Tabs",
    "settings": [
      {
        "type": "image_picker",
        "id": "tops_image",
        "label": "Tops Image"
      },
      {
        "type": "image_picker",
        "id": "bottoms_image",
        "label": "Bottoms Image"
      }
    ]
  }
{% endschema %}
