{{ 'section-initiatives-text.css' | asset_url | stylesheet_tag }}

<div class="initiatives-text">
  <div class="page-width">
    <div class="initiatives-text__container">
      <h3>{{ section.settings.title }}</h3>
      <p class="body-small">{{ section.settings.text }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Initiatives Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Initiatives Text"
      }
    ]
  }
{% endschema %}