{{ 'section-instagram.css' | asset_url | stylesheet_tag: preload: true }}

<div class="instagram">
  <div class="page-width">
    <div class="instagram__header">
      <p class="detail-caps">{{ section.settings.left_text }}</p>
      <div class="glow"></div>
      <p class="detail-caps">{{ section.settings.right_text }}</p>
    </div>
  </div>
  <div class="instagram__content">
    <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="monday-swimwear" data-theme="showcase_v2_5" data-connector-filter="18218" data-page-size="4"></script>
    <style>.fs-has-links { display:none; } .fs-showcase_v2_5.fs-desktop .fs-entry-container { width:25% !important;padding-top:25% !important; } .fs-showcase_v2_5.fs-mobile .fs-entry-container { width:100% !important;padding-top:100% !important; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:'ABC Favorit', sans-serif;font-style:normal;font-weight:normal;font-size:14px; } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:'ABC Favorit', sans-serif;font-style:normal;font-weight:normal;font-size:14px; } .fs-wrapper div.fs-text-container * { color:#ffffff; } .fs-wrapper div.fs-text-container { background-color:rgba(0, 0, 0, 0.5);margin:0px; } div.fs-entry-date { display:none; } div.fs-entry-title { display:none; } .fs-showcase_v2_5.fs-wrapper div.fs-timeline-entry { margin:10px; } </style>
  </div>
</div>

{% schema %}
  {
    "name": "Instagram",
    "settings": [
      {
        "type": "text",
        "id": "left_text",
        "label": "Left Text"
      },
      {
        "type": "text",
        "id": "right_text",
        "label": "Right Text"
      }
    ],
    "presets": [
      {
        "name": "Instagram"
      }
    ]
  }
{% endschema %}