{{ 'section-main-404.css' | asset_url | stylesheet_tag }}

<div class="template-404 page-width page-margin center">
  <div class="page-404-wrapper">
    <div class="lens">

    </div>
    <h1 class="h2 title-404">
      {{ 'templates.404.title' | t }}
    </h1>
  
    <p class="body description-404">
      {{ 'templates.404.subtext' | t }}
    </p>

    <a href="/" class="button button--bone">
      {{ 'templates.404.back_to_home' | t }}
    </a>
  </div>
</div>
