{{ 'section-main-email-capture.css' | asset_url | stylesheet_tag }}

<div class="email-capture">
  <div class="page-width">
    <svg class="email-capture__svg" xmlns="http://www.w3.org/2000/svg" width="200" height="19" viewBox="0 0 200 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1381 0.187988C28.7953 0.187988 24.8332 3.96992 24.8332 9.59393C24.8332 15.2179 28.7953 18.9999 34.1381 18.9999C39.4803 18.9999 43.4424 15.2179 43.4424 9.59393C43.4424 3.96992 39.4803 0.187988 34.1381 0.187988ZM34.1381 3.20396C37.8951 3.20396 40.1701 5.88692 40.1701 9.59393C40.1701 13.3009 37.8951 15.986 34.1381 15.986C30.3802 15.986 28.1055 13.3009 28.1055 9.59393C28.1055 5.88692 30.3802 3.20396 34.1381 3.20396ZM47.3906 9.59396C47.3906 12.3289 47.3148 15.628 47.1868 18.542H50.6116C50.4839 15.628 50.4078 12.3289 50.4078 9.84995V5.65799C52.8618 9.84995 55.7757 15.0119 57.6157 18.542H61.6036C61.4755 15.628 61.3998 12.3289 61.3998 9.59396C61.3998 6.859 61.4755 3.55991 61.6036 0.645922H58.1788C58.3068 3.55991 58.3826 6.85896 58.3826 9.33794V13.5299C55.0088 7.75399 53.4236 4.99193 51.1747 0.645922H47.1868C47.3148 3.55991 47.3906 6.85896 47.3906 9.59396ZM65.8059 18.542C65.9339 15.628 66.01 12.3289 66.01 9.59396C66.01 6.859 65.9339 3.55991 65.8059 0.645922H71.9921C76.2351 0.645922 81.1431 3.204 81.1431 9.59396C81.1431 15.986 76.2351 18.542 71.9921 18.542H65.8059ZM72.1969 15.474C74.957 15.474 77.8709 13.4279 77.8709 9.59396C77.8709 5.75999 74.957 3.71393 72.1969 3.71393H69.282C69.1801 5.12096 69.0782 7.13997 69.0782 9.59396C69.0782 12.048 69.1801 14.0669 69.282 15.474H72.1969ZM96.3385 14.4499C96.8745 15.9069 97.3863 17.3139 97.7956 18.542H101.834C97.7695 9.54192 96.9264 7.39596 94.3185 0.645922H89.8194C87.2125 7.39596 86.3685 9.54192 82.3045 18.542H86.3434C86.7523 17.3139 87.2374 15.9069 87.8005 14.4499H96.3385ZM92.0693 3.71393C93.0404 5.93896 94.1395 8.67396 95.1874 11.384H88.9506C89.9984 8.69894 91.0976 5.99101 92.0693 3.71393ZM107.007 18.542C107.134 16.0609 107.211 14.35 107.211 11.384C106.291 9.72091 105.575 8.4679 104.092 6.21996C102.405 3.664 101.485 2.361 100.258 0.645922H104.297L108.745 8.31596C110.227 5.75996 111.709 3.20329 113.193 0.645922H117.231C116.005 2.36101 115.084 3.66396 113.397 6.21996C111.915 8.4679 111.199 9.72091 110.279 11.384C110.279 14.35 110.355 16.0609 110.483 18.542H107.007ZM16.0779 0.645922H21.0878C20.9608 3.55991 20.8837 6.85896 20.8837 9.59396C20.8837 12.329 20.9608 15.628 21.0878 18.542H17.6117C17.7398 15.628 17.8156 12.3289 17.8156 9.59396C17.8156 7.85596 17.7908 6.26993 17.7646 4.91702C16.9219 6.57796 15.8476 8.77596 15.0049 10.566C13.5358 13.6647 12.564 15.7773 11.3218 18.542H10.6095C9.36646 15.7773 8.39458 13.6647 6.92676 10.566C6.08276 8.77596 5.0098 6.57796 4.16576 4.91702C4.13975 6.26993 4.11479 7.85596 4.11479 9.59396C4.11479 12.3289 4.19179 15.628 4.31878 18.542H0.842773C0.970785 15.628 1.04676 12.3289 1.04676 9.59396C1.04676 6.859 0.970785 3.55991 0.842773 0.645922H5.85276C7.33577 4.14895 8.2048 6.17 10.9658 11.8939C13.7258 6.17 14.5946 4.14895 16.0779 0.645922Z" fill="currentColor"></path>
    <path d="M127.138 18.4995C127.268 15.5616 127.345 12.2381 127.345 9.48076C127.345 6.7234 127.268 3.39991 127.138 0.463867H135.335C138.531 0.463867 140.643 2.11339 140.643 5.10209C140.643 6.90585 139.562 8.24503 138.066 8.76039C139.767 9.06885 141.467 10.5134 141.467 13.0375C141.467 16.4908 139.045 18.4995 135.386 18.4995H127.138ZM134.974 7.36854C136.47 7.36854 137.344 6.74973 137.344 5.46134C137.344 4.17294 136.364 3.55414 134.871 3.55414H130.539C130.488 4.58485 130.435 5.82247 130.435 7.36854H134.974ZM135.181 15.4074C136.831 15.4074 138.17 14.6343 138.17 12.8833C138.17 11.1322 136.831 10.3572 135.181 10.3572H130.437C130.437 12.5221 130.488 14.0682 130.541 15.4074H135.181Z" fill="currentColor"></path>
    <path d="M144.445 9.48307C144.445 3.81505 148.439 0 153.824 0C159.21 0 163.206 3.81505 163.206 9.48307C163.206 15.1511 159.212 18.9661 153.824 18.9661C148.437 18.9661 144.443 15.1511 144.443 9.48307H144.445ZM159.908 9.48307C159.908 5.74703 157.615 3.04 153.826 3.04C150.038 3.04 147.744 5.74515 147.744 9.48307C147.744 13.221 150.038 15.9261 153.826 15.9261C157.615 15.9261 159.908 13.221 159.908 9.48307Z" fill="currentColor"></path>
    <path d="M166.69 18.503C166.819 15.5646 166.897 12.2405 166.897 9.4827C166.897 6.72488 166.819 3.40082 166.69 0.462402H172.926C177.204 0.462402 182.151 3.03963 182.151 9.4827C182.151 15.9258 177.204 18.503 172.926 18.503H166.69ZM173.133 15.4103C175.915 15.4103 178.853 13.3485 178.853 9.4827C178.853 5.61686 175.915 3.55507 173.133 3.55507H170.194C170.091 4.97161 169.987 7.00894 169.987 9.4827C169.987 11.9565 170.091 13.9919 170.194 15.4103H173.133Z" fill="currentColor"></path>
    <path d="M189.64 18.5031C189.768 16.003 189.847 14.276 189.847 11.2868C188.92 9.61257 188.197 8.34841 186.703 6.08158C185.003 3.50435 184.075 2.1894 182.838 0.464355H186.91L191.395 8.19604C192.891 5.61881 194.384 3.04158 195.88 0.464355H199.951C198.713 2.19129 197.786 3.50624 196.085 6.08158C194.589 8.35029 193.869 9.61257 192.942 11.2868C192.942 14.276 193.019 16.003 193.148 18.5031H189.644H189.64Z" fill="currentColor"></path>
    </svg>
    <div class="email-capture__container">
      <div class="email-capture__image">
        {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
      </div>
      <div class="email-capture__content">
        <div class="email-capture__content-container">
          {% if section.settings.title != blank %}
            <h4 class="email-capture__title">{{ section.settings.title }}</h4>
          {% endif %}
          {% if section.settings.text != blank %}
            <p class="email-capture__text body-2">{{ section.settings.text | newline_to_br }}</p>
          {% endif %}
          <div class="klaviyo-form-SJSUh8"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Email Capture",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}