<div class="nosto_element" id="pdp-test-dynamic"></div>


{% schema %}
  {
    "name": "Nosto Recommendations",
    "settings": [],
    "presets": [
      {
        "name": "Nosto Recommendations"
      }
    ]
  }
{% endschema %}