{{ 'template-fit-guide.css' | asset_url | stylesheet_tag }}

<div class="fit-guide-header">
  <div class="page-width">
    <div class="fit-guide-header__text">
      <h2>{{ section.settings.title }}</h2>
      <p class="body-small">{{ section.settings.text }}</p>
    </div>
    <div>
      {{ section.settings.klaviyo }}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Plain Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "klaviyo",
        "label": "Klaviyo Form (optional)"
      }
    ],
    "presets": [
      {
        "name": "Plain Text"
      }
    ]
  }
{% endschema %}

Customer Size Data