{{ 'section-featured-press-section.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="featured-press-section">
    <h2>“{{ section.settings.text }}”</h2>
    <div class="featured-press-section__logo">
      {{ section.settings.logo }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Press Featured Section",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "logo",
        "label": "Logo (SVG)"
      }
    ],
    "presets": [
      {
        "name": "Press Featured Section"
      }
    ],
    "templates": ["page"]
  }
{% endschema %}