<div class="rewards-email">
  <div class="page-width">
    <div class="rewards-email__container">
      <div class="rewards-email__image">
        {% render 'lazy-image' image: section.settings.image, fade: true, classes: 'img-fill' %}
      </div>
      <div class="rewards-email__content">
        <div class="rewards-email__content-container">
          <h2>{{ section.settings.title }}</h2>
          <p class="body-large">{{ section.settings.text }}</p>
        </div>
      </div>
    </div>
    <div class="rewards-email__glow"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Rewards Email Capture",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}