{{ 'section-text-header.css' | asset_url | stylesheet_tag }}

<div class="text-header" style="background: {{ section.settings.background }}">
  <div class="page-width">
    <div class="text-header__container">
      <h1 class="h2">{{ section.settings.title }}</h1>
      <p class="body-small">{{ section.settings.text }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text Header",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "Text Header"
      }
    ]
  }
{% endschema %}