{{ 'section-text-banner.css' | asset_url | stylesheet_tag }}

<div class="text-banner">
  <div class="page-width">
    <div class="text-banner__container">
      <h2>{{ section.settings.text }}</h2>
      <a href="{{ section.settings.button_link }}" class="button button--white">{{ section.settings.button_label }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text Banner",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Text Banner"
      }
    ]
  }
{% endschema %}