{{ 'section-video.css' | asset_url | stylesheet_tag }}

<div class="video">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <h2 class="video__title h4">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="video__container">
      <div class="video__video-wrapper">
        {{ section.settings.youtube_embed }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "youtube_embed",
        "label": "Youtube Embed"
      }
    ],
    "presets": [
      {
        "name": "Video"
      }
    ]
  }
{% endschema %}