.collection__password {
  padding: 100px 10px;
  background: #faf5e1;
}

.collection__password--inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.collection__password--inner h2 {
  text-align: center;
  margin: 0;
}

.collection__password--inner .link,
.collection__password--inner .body-large {
  text-align: center;
  margin: 0;
}

.collection__password--form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  min-width: 300px;
}

.collection__password--form input {
  background: #ffffff;
  color: #000;
  border: 1px solid #d3d3d3;
  padding: 10px 20px;
  width: 100%;
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
}

.collection__password--form input:focus-visible {
  outline: none;
  box-shadow: none;
}

.collection__password--form button.button {
  padding: 10px 50px;
}


.collection-denied main .shopify-section {
  display: none;
}

.collection__password--main {
  display: none;
}

.collection-denied main .shopify-section.collection__password--main {
  display: block;
}