.product-card__image {
  position: relative;
}

.product-card__image .aspect-ratio::before {
  padding-bottom: 150%;
}

.product-card__image .aspect-ratio + .aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
}

.product-card__button {
  padding: 17px 20px;
  position: absolute;
  right: 10px;
  bottom: 15px;
  left: 10px;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity .5s ease, transform .5s ease;
  -webkit-transition: opacity .5s ease, transform .5s ease;
}

.product-card .product-card__button .button {
  display: block;
}

.product-card__content {
  padding-top: 20px;
}

.product-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-card__title {
  margin: 0 10px 0 0;
}

.product-card__price {
  flex-shrink: 0;
}

.product-card__swatches {
  margin-left: -7px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-card__swatch {
  padding: 5px 7px;
}

.product-card__swatch-color {
  height: 10px;
  width: 10px;
  border: 0.5px solid #00000080;
  border-radius: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.product-card__swatch-color::after {
  content: '';
  height: 16px;
  width: 16px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  transition: border .3s ease;
  -webkit-transition: border .3s ease;
}

.product-card__swatch:hover .product-card__swatch-color::after {
  border-color: rgba(0, 0, 0, .1);
}

.product-card__swatch.active .product-card__swatch-color::after {
  border-color: rgba(0, 0, 0, .3);
}

.product-card .price--on-sale .price-item--regular::after {
  border-width: 1px;
}

.product-card:hover .product-card__image .aspect-ratio + .aspect-ratio {
  opacity: 1;
}

.sold-out-swatch {
  opacity: 0.5;
  text-decoration: line-through;
  pointer-events: none;
}

.product-card__tag {
  padding: 6px 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  border: 0.5px solid black;
}

.product-card__tag p {
  margin: 0;
}

.product-card__button span {
  padding-left: 6px;
  padding-right: 6px;
}

.product-card__button {
  background-color: white;
  padding: 16px 20px 18px;
  margin: 0;
  text-align: center;
}

.product-card__quick-add {
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: white;
  text-align: center;
  opacity: 0;
  z-index: 99;
}

.variant-buttons_hover {
  display: none;
}

.variant-buttons__shop-now {
  padding: 16px 20px 18px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 769px) {

  .hover__quick-add {
    display: block;
    text-align: center;
    padding: 17px 20px;
    margin: 0;
  }
  
  .variant-buttons_hover {
    display: none;
    position: absolute;
    bottom: 15px;
    width: calc(100% - 20px);
    left: 10px;
  } 

  .product-card:hover .variant-buttons_hover {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    background: white;
    display: block;
  }

  .variant-buttons_hover:hover .hover__quick-add {
    display: none;
  }

  .variant-buttons_hover:hover .product-card__button.active {
    display: block;
    opacity: 1;
    z-index: 99999999;
  }

  .product-card:hover .variant-buttons__shop-now {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .product-card__content {
    padding-top: 14px;
  }

  .product-card__header {
    display: block;
  }

  .product-card__swatches {
    margin-left: -4px;
    padding: 2px 0 0 0;
    display: inline-flex;
    position: relative;
  }

  .product-card__swatch {
    padding: 4px;
    display: none;
  }

  .product-card__swatch:nth-child(1),
  .product-card__swatch:nth-child(2),
  .product-card__swatch:nth-child(3),
  .product-card__swatch:nth-child(4),
  .product-card__swatch:nth-child(5),
  .product-card__swatch:nth-child(6),
  .product-card__swatch:nth-child(7),
  .product-card__swatch:nth-child(8) {
    display: block;
  }

  .product-card__swatches svg {
    margin-left: 6px;
  }

  .product-card__swatch-color {
    height: 12px;
    width: 12px;
  }

  .product-card__swatch .product-card__swatch-color::after {
    border-color: transparent !important;
  }
  
  .swiper .product-card:hover .product-card__image .aspect-ratio + .aspect-ratio {
    opacity: 0;
  }
}

/*============================================================================
  Monday Body
==============================================================================*/
.monday-body .hover__quick-add {
  background-color: black;
  color: white;
}

.monday-body .product-card__button {
  background-color: black;
  color: white;
}