.size-chart {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.size-chart.is-visible {
  opacity: 1;
  visibility: visible;
}

.size-chart__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
}

.size-chart__container {
  max-width: 1000px;
  width: 100%;
  max-height: 700px;
  padding: 30px;
  background-color: var(--bone);
  position: relative;
}

.size-chart__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.size-chart__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.size-chart__tab {
  margin: 0 0 40px;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}

.size-chart__tab::before {
  content: '';
  position: absolute;
  left: 30%;
  right: 50%;
  bottom: 0;
  border-bottom: 3px solid transparent;
  transition: left .5s ease, border .5s ease;
  -webkit-transition: left .5s ease, border .5s ease;
}

.size-chart__tab::after {
  content: '';
  position: absolute;
  right: 30%;
  left: 50%;
  bottom: 0;
  border-bottom: 3px solid transparent;
  transition: right .5s ease, border .5s ease;
  -webkit-transition: .5s ease, border .5s ease;
}

.size-chart__tab:hover::before {
  left: 0;
  border-color: #F8F83A;
}

.size-chart__tab:hover::after {
  right: 0;
  border-color: #F8F83A;
}

.size-chart__tab.active::before, .size-chart__tab.active::after {
  border-color: #F8F83A;
}

.size-chart__content {
  display: none;
  overflow-y: scroll;
}

.size-chart__content--images {
  max-height: 500px;
  height: 100%;
}

.size-chart__content.active {
  display: block;
}

.size-chart__table {
  width: 100%;
  border-collapse: collapse;
}

.size-chart__table th {
  padding-bottom: 15px;
  border: 0;
  color: #0006;
  border-bottom: 1px solid var(--tan);
}

.size-chart__table td {
  padding: 15px 20px;
  border: 0;
  text-align: center;
  border-bottom: 1px solid var(--tan);
}

.size-chart__image {
  text-align: center;
}

.size-chart__image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .size-chart__container {
    padding: 30px 20px;
  }

  .size-chart__close {
    top: 10px;
    right: 10px;
  }

  .size-chart__tab {
    margin-bottom: 30px;
  }

  .size-chart__content--chart {
    margin: 0 -20px;
    overflow-x: scroll;
  }

  .size-chart__table {
    white-space: nowrap;
  }

  .size-chart__table th {
    padding: 0 15px 10px;
  }

  .size-chart__table td {
    padding: 10px 15px;
  }
}