.cart-items__header {
  margin: 100px 0 60px;
  text-align: center;
}

.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

/* Cart Items */
cart-items {
  display: block;
}

.cart__items {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 20px !important;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart-items {
  width: 100%;
  border-top: 1px solid #EBE9E2;
}

.cart-item__media {
  width: 95px;
}

.cart-item__details {
  padding-left: 20px !important;
}

.cart-item__name {
  margin: 0 0 10px;
  display: block;
}

.product-options {
  margin-bottom: 24px;
}

.product-option {
  margin: 0 0 10px;
  display: block;
  color: #999999;
}

.product-option span {
  margin-left: 8px;
  display: inline-block;
  color: black;
}

.quantity {
  border: 0;
  background: #F8F7F4;
}

.cart-item td {
  padding: 20px 0;
  border-bottom: 1px solid #EBE9E2;
  vertical-align: top;
}

.cart-item__totals {
  position: relative;
}

.cart-item__totals .loading-overlay {
  left: unset !important;
  right: 0;
}

.cart-item__totals .loading-overlay:not(.hidden) + .cart-item__price-wrapper {
  opacity: 0;
}

.cart-item__remove {
  position: absolute;
  bottom: 20px;
  right: 0;
}


/* Cart Footer */
.cart__footer {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
}


.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__blocks {
  max-width: 440px;
}

.cart__note {
  display: block;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  height: 1.8rem;
  margin-bottom: 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 100%;
}

.cart__ctas {
  text-align: center;
}

.tax-note {
  margin: 20px 0 0 !important;
  text-align: center !important;
}

#nested-ecocart-container {
  border: 0 !important;
}

#nested-ecocart-container p {
  font-family: 'ABC Favorit' ,sans-serif !important;
  font-style: normal;
}

#nested-ecocart-container a {
  margin-left: 13px !important;
}

#nested-ecocart-container .second-div a {
  margin-left: 0 !important;
}

@media screen and (min-width: 769px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .cart-items__header {
    margin: 40px 0 30px;
  }

  .cart-item__media {
    width: 80px;
  }

  .cart-item__media img {
    width: 80px;
    height: auto;
  }

  .cart-item__details {
    padding-left: 10px !important;
  }

  .cart-item td {
    padding: 10px 0;
  }

  .product-options {
    margin-bottom: 14px;
  }

  .cart-item__name, .cart-item__price-wrapper {
    font-size: 14px;
  }

  .cart-item__remove {
    bottom: 5px;
  }
}
