.cart-drawer {
  width: 100%;
  max-width: 600px;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  position: fixed; 
  right: 0;
  top: 0;
  visibility: hidden;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 15;
  background: white;
}

.cart-drawer[aria-hidden="false"] {
  visibility: visible;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.cart-drawer__inner {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.cart-drawer__header {
  height: 120px;
  margin: 0 30px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EBE9E2;
}

.cart-drawer__title {
  margin: 0;
}

.cart-drawer__close svg {
  height: 18px;
  width: 18px;
}

.cart-drawer__content {
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  background: transparent linear-gradient(180deg,#fff 0,var(--beige-light) 100%) 0 0 no-repeat padding-box;
}

.cart-drawer__inner::-webkit-scrollbar-thumb {
  width: 10px !important;
}

.cart-drawer__items {
  height: 100%;
  margin-bottom: 240px;
  padding: 0 30px;
  overflow: scroll;
}

.cart-drawer__item {
  padding: 20px 0;
  display: flex;
  position: relative;
  border-bottom: 1px solid #EBE9E2;
}

.cart-drawer__item-remove {
  position: absolute;
  bottom: 20px;
  right: 0;
  display: flex;
  align-items: center;
  color: black;
}

.cart-drawer__item-image {
  width: 95px !important;
}

.cart-drawer__item-content {
  width: 100%;
  height: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-drawer__item-title {
  margin: 0 0 10px;
  padding-right: 50px;
  font-size: 17px;
}

.cart-drawer__item-price {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 17px;
}

.cart-drawer__item-option {
  margin: 0 0 10px;
  color: #999999;
}

.cart-drawer__item-option span {
  margin-left: 8px;
  display: inline-block;
  color: black;
}

.cart-drawer__item-bottom {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__item-quantity .quantity {
  width: 130px;
  background: #F8F7F4;
  border: 0;
}

.cart-drawer__item-quantity .quantity__button {
  width: 35%;
}

.cart-drawer__item-quantity .quantity__button svg {
  width: 7px;
}

.cart-drawer__item-quantity .quantity__input {
  width: 20px;
  height: auto;
}


@media screen and (max-width: 768px) {
  .cart-drawer__header {
    margin: 0 10px;
  }

  .cart-drawer__content {
    height: calc(100% - 60px);
  }

  .cart-drawer__item-image {
    width: 80px !important;
  }

  .cart-drawer__item-content {
    padding-left: 10px;
  }

  .cart-drawer__item-title {
    font-size: 14px;
  }

  .cart-drawer__item-price {
    font-size: 14px;
  }

  .cart-drawer__item-quantity .quantity {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
  }
}

/* Upsell */
.cart-drawer__upsell {
  max-width: 470px;
  margin: 0 auto;
  padding: 40px 0;
}

.cart-drawer__upsell .detail-caps {
  margin: 0 0 20px;
  text-align: center;
}

.cart-drawer__upsell-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.cart-drawer__upsell-image {
  padding-bottom: 150%;
  position: relative;
}

.cart-drawer__add-upsell {
  height: 26px;
  width: 26px;
  position: absolute;
  right: 10px;
  bottom: 30px;
  border-radius: 100%;
  background: white;
  transition: transform .3s linear;
  -webkit-transition: transform .3s linear;
}

.cart-drawer__add-upsell:hover {
  transform: scale(1.1);
}

.cart-drawer__add-upsell::before {
  content: '';
  height: 10px;
  position: absolute;
  top: 8px;
  left: 12px;
  border-right: 2px solid black;
}

.cart-drawer__add-upsell::after {
  content: '';
  width: 10px;
  position: absolute;
  left: 8px;
  top: 12px;
  border-bottom: 2px solid black;
}

.cart-drawer__upsell-content {
  text-align: center;
}

.cart-drawer__upsell-content .body {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.4;
}

.cart-drawer__upsell-content .detail-caps {
  margin-bottom: 10px;
  color: #999999;
}

.cart-drawer__upsell-content .detail-caps span {
  color: black;
}

@media screen and (max-width: 768px) {
  .cart-drawer__upsell {
    padding: 50px 0 30px;
  }
  
  .cart-drawer__upsell .detail-caps {
    text-align: left;
  }

  .cart-drawer__upsell-products {
    gap: 10px;
  }

  .cart-drawer__add-upsell {
    bottom: 10px;
  }

  .cart-drawer__upsell-content .body {
    font-size: 13px;
  }

  .cart-drawer__upsell-content .detail-caps {
    text-align: center;
  }
}

/* Footer */
.cart-drawer__footer {
  padding: 10px 30px 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #EBE9E2;
  background-color: white;
}

.cart-drawer__footer .sh4 {
  margin: 0;
}

.cart-drawer__shipping-wrapper {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__subtotal-wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__subtotal-wrapper .sh3 {
  margin: 0;
}

.cart-drawer__loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-drawer__loading-container.loading h4 {
  opacity: 0;
}

.cart-drawer__loading-container .loading-overlay {
  text-align: center;
  width: 100%;
  top: 10px;
  right: 0;
  bottom: 10px;
  left: 0;
  background: white;
}

.cart-drawer__footer .button {
  width: 100%;
}

.cart-drawer__taxes {
  margin: 10px 0 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .cart-drawer__header {
    height: 60px;
    padding: 10px;
  }

  .cart-drawer__items {
    padding: 0 10px;
  }

  .cart-drawer__item {
    padding: 10px 0;
  }

  .cart-drawer__item-price {
    top: 10px;
  }

  .cart-drawer__item-remove {
    bottom: 4px;
    opacity: .5;
  }
  
  .cart-drawer__footer {
    padding: 10px 10px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .cart-drawer {
    max-width: calc(100% - 20px);
  }
}

/* Empty Cart */
.cart-drawer__empty {
  height: 100vh;
  width: 100%;
  padding: 30px 20px 80px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.cart-upsell__container {
  display: flex;
  border-radius: 17px;
  padding: 5px;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  margin: 6px 0;
}

.cart-upsell__container-left {
  display: flex; 
}

.cart-upsell__container-left h6 {
  margin: 0 0 5px;
}

.cart-upsell__img {
  height: 95px;  
  margin-right: 10px;
}

.cart-upsell__img img {
  border-radius: 12px;
}

.cart-upsell__container-atc {
  text-align: left;
  align-self: center;
}

.cart-upsell__button {
  background-color: #ECD8C5; 
  padding: 6px 22px;
  border-radius: 30px;
  text-transform: unset;
  cursor: pointer;
}


.cart-upsell__container-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
/*   align-self: end; */
}

.cart-upsell__container-right p {
  margin: 0;
}

.cart-upsell__sale-price {
  color: #545759;
  text-decoration: line-through;
}

.text-hero__title .h2 {
  transform: translate(0px, -5px) !important;
}


.cart-drawer__empty .small_text {
  text-transform: none;
}

.trending {
  background-color: #E2EEF6;
  border: 2px solid #1F2322;
  border-radius: 18px;
  padding: 3px 11px;
  min-width: 75px;
}

.popular {
  background-color: #E2EEF6;
  border: 2px solid #1F2322;
  border-radius: 18px;
  padding: 3px 11px;
  min-width: 75px;
}

.trending p, .popular p {
  text-transform: none;
  text-align: center;
}

.sub-upsell__container {
  padding: 22px 8px 8px;
}

.sub-products__text {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
}

.sub-upsell__container-scroll {
  overflow: scroll;
  position: relative;
  white-space: nowrap;
  display: flex; 
  gap: 10px;
}

.cart-drawer__second-slide {
  width: 100%;
  height: 100vh;
  background: transparent linear-gradient(180deg,#fff 0,var(--beige-light) 100%) 0 0 no-repeat padding-box;
  position: absolute;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
}


.cart-drawer__second-slide.show-second {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.cart-drawer__second-container {
  margin-top: 40px;
}

.cart-drawer__radio-container {
  margin-top: 40px; 
}

.cart-drawer__radio-container .container {
  display: block;
  position: relative;
  padding: 20px 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  border-top: 1px solid #a7a7a7;
}

.cart-drawer__radio-container .container:last-of-type {
  border-bottom: 1px solid black;
}

.cart-drawer__radio-container .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #000;
  transform: translate(0%,-50%);
}

.cart-drawer__radio-container .container input:checked ~ .checkmark {
  background-color: transparent;
}

.cart-drawer__radio-container .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cart-drawer__radio-container .container input:checked ~ .checkmark:after {
  display: block;
}

.cart-drawer__radio-container .container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}

.cart-drawer__second-container .button {
  margin: 20px;
  animation: unset;
  will-change: unset;
  transition: unset;
  background: #F6ECE1;
  cursor: pointer;
}

