.pagination-wrapper {
  margin: 90px 0;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  margin: 0 20px;
}

.pagination__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0;
  text-decoration: none;
  color: #828282;
}

.pagination__item--current {
  color: black;
}

.pagination__item--current::before {
  content: '';
  height: 39px;
  width: 39px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .pagination-wrapper {
    margin-top: 60px;
  }
}

/*============================================================================
  Monday Body
==============================================================================*/
.monday-body .pagination__item--current::before {
  background-color: var(--body-green-2);
}