.collection-filter-section {
  width: 100%;
  margin-top: 50px;
  position: sticky;
  top: 65px;
  z-index: 2;
}

.collection-filters {
  display: block;
  background: white;
}

.collection-filters__overlay.active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.collection-filters__mobile-overlay {
  position: fixed;
}

.collection-filters__container {
  margin: 10px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;
}

.collection-filters__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.collection-filters__categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-filters__title {
  margin: 0 30px 0 0;
  opacity: .5;
}

.collection-filters__item {
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.collection-filters__button {
  padding: 5px 0 8px;
  line-height: 1;
}

.collection-filters__button svg {
  margin: 0 0 2px 12px;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
}

.collection-filters__dropdown {
  width: 100%;
  padding: 30px 0;
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
  -webkit-transition: opacity .3s ease, visibility .3s ease;
}

.collection-filters__dropdown-title {
  margin: 0 0 10px;
  opacity: .5;
}

.collection-filters__dropdown-container {
  display: flex;
  justify-content: space-between;
}

.collection-filters__dropdown-list {
  width: 100%;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px 20px;
}

.radio-button {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.5;
}

.radio-button__indicator {
  height: 13px;
  width: 13px;
  margin-right: 20px;
  position: relative;
}

.radio-button__indicator::before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F2F0E8;
  transition: background .3s ease;
}

.radio-button__indicator::after {
  content: '';
  height: 33px;
  width: 33px;
  border-radius: 100%;
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-button.active .radio-button__indicator::before {
  background-color: black;
}

.radio-button.active .radio-button__indicator::after {
  border-color: rgba(0, 0, 0, .3);
}

/* Swatch */
.collection-filters__tag-radio-color {
  height: 14px;
  width: 14px;
  margin-right: 20px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  flex-shrink: 0;
}

.collection-filters__tag-radio-color::after {
  content: '';
  height: 33px;
  width: 33px;
  border-radius: 100%;
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-button.active .collection-filters__tag-radio-color::after {
  border-color: rgba(0, 0, 0, .3);
}

.collection-filters__dropdown-buttons {
  flex-shrink: 0;
}

.collection-filters__dropdown-buttons .button {
  margin-right: 10px;
}

.collection-filters__dropdown-buttons .button:last-child {
  margin: 0;
}

.collection-filters__item.active .collection-filters__dropdown {
  opacity: 1;
  visibility: visible;
}

.collection-filters__item.active .collection-filters__button svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.collection-filters__active-tags {
  display: flex;
}

.collection-filters__active-tag {
  margin-right: 10px;
  padding: 7px 25px 8px 10px;
  display: flex;
  align-items: center;
  background: #EBE8DB;
  position: relative;
}

.collection-filters__active-tag-remove {
  position: absolute;
  width: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-filters__active-tag-remove svg {
  pointer-events: none;
}

.collection-filters__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.collection-filters__total p {
  margin: 0;
  opacity: .5;
}

.collection-filters__right .collection-filters__item {
  margin: 0 0 0 35px;
}

.collection-filters__clear-all.text-link,
.collection-filters__clear.text-link {
  opacity: .4;
  padding-bottom: 0;
  font-size: 12px;
  line-height: 12px;
  height: fit-content;
  align-self: center;
  display: inline-block;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .collection-filters__left {
    width: 100%;
  }
  .collection-filter-section {
    margin-top: 30px;
    position: unset;
  }

  .collection-filters__container {
    flex-wrap: wrap;
    z-index: 2;
  }

  .collection-filters__mobile-buttons {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 5px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; */
  }

  .collection-filters__mobile-button {
    padding: 0 5px;
    font-size: 12px;
  }

  .collection-filters__mobile-button.open-sort {
    margin-left: auto;s
  }

  .collection-filters__container {
    margin: 0;
    z-index: 2;
  }

  .collection-filters__overlay.active + .collection-filters__container {
    z-index: 5;
  }

  .collection-filters__categories {
    width: 100%;
    padding: 20px 10px 10px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: transform .3s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: transform .3s cubic-bezier(0.86, 0, 0.07, 1);
    background: white;
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.08);
    z-index: 3;
    height: 100%;
    top: 0;
    bottom: 0;
    max-height: 100%;
  }

  .collection-filters__categories.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  .collection-filters__mobile-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .collection-filters__mobile-title p {
    margin: 0;
  }

  .collection-filters__mobile-title button {
    padding: 0 10px;
  }

  .collection-filters__item {
    margin: 0 10px;
    display: block;
    border-bottom: 1px solid #F8F7F4;
  }

  .collection-filters__button {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }

  .collection-filters__item:last-child {
    border: 0;
  }

  .collection-filters__button svg {
    margin: 4px 0 0px 12px;
  }

  .collection-filters__dropdown {
    padding: 0 0 30px;
    position: unset;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    display: none;
  }

  .collection-filters__item.active .collection-filters__dropdown {
    display: block;
  }

  .collection-filters__dropdown .page-width {
    padding: 0 10px;
  }

  .collection-filters__dropdown-list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Swatch */
.collection-filters__tag-radio-color {
  height: 14px;
  width: 14px;
}

.collection-filters__tag-radio-color::after {
  height: 20px;
  width: 20px;
}

  .radio-button {
    text-align: left;
  }

  .radio-button__indicator {
    margin-right: 13px;
  }

  .radio-button__indicator::before {
    height: 14px;
    width: 14px;
    background: #F8F7F4;
    border: 1px solid transparent;
  }

  .radio-button__indicator::after {
    height: 14px;
    width: 14px;
    border: 0;
  }

  .radio-button.active .radio-button__indicator::before {
    background: transparent;
    border-color: black;
  }
  
  .radio-button.active .radio-button__indicator::after {
    background: black;
  }

  .collection-filters__mobile-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: sticky;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    background: white;
  }

  .collection-filters__mobile-actions button {
    padding: 9px 20px 10px;
  }

  .collection-filters__mobile-actions .collection-filters__clear-all {
    background: #F8F7F4;
  }

  .collection-filters__mobile-actions .collection-filters__apply {
    background: black;
    color: white;
  }

  .collection-filters__active-tags {
    padding-left: 1px;
    overflow-x: scroll;
  }

  .collection-filters__active-tag {
    font-size: 11px;
    white-space: nowrap;
  }

  .collection-filters__clear-all {
    white-space: nowrap;
  }

  .collection-filters__right {
    margin-left: 20px;
    flex-shrink: 0;
  }

  .collection-filters__total {
    margin-top: 6px;
  }

  .collection-filters__overlay {
    z-index: 2;
  }

  .collection-filters__sorting {
    width: 100%;
    max-height: 500px;
    padding: 20px 10px 10px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: scroll;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: transform .3s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: transform .3s cubic-bezier(0.86, 0, 0.07, 1);
    background: white;
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.08);
    z-index: 3;
  }

  .collection-filters__sorting.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  .collection-filters__sorting .collection-filters__item {
    margin: 0;
  }

  .collection-filters__sorting .page-width {
    padding: 0 10px;
  }

  .collection-filters__sorting .collection-filters__dropdown {
    padding: 0;
    display: block;
  }

  .collection-filters__sorting .collection-filters__dropdown-container {
    display: block;
  }

  .collection-filters__sorting .collection-filters__dropdown-buttons {
    margin-top: 40px;
  }

  .collection-filters__sorting .collection-filters__dropdown-buttons button {
    width: 100%;
  }
}