.article-card__image {
  padding-bottom: 63%;
  position: relative;
}

.article-card__content {
  padding-top: 20px;
}

.article-card__content .detail-caps {
  margin: 0 0 10px;
  font-size: 12px;
  opacity: .3;
}

.article-card__content .body-large {
  margin: 0 0 20px;
}