#shopify-section-footer {
  padding-bottom: 74px;
}

.product-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 6;
  border-top: 1px solid #F2F2F2;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: transform .4s ease-in-out;
  -webkit-transition: transform .4s ease-in-out;
}

.product-bar.headroom--not-top {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.product-bar .page-width {
  padding-right: 0;
}

.product-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Title */
.product-bar__title .sh1 {
  margin: 0 60px 0 0;
}

/* Form */
.product-bar__form {
  display: flex;
  align-items: center;
}

.product-bar__form .form {
  flex-shrink: 0;
}

.product-bar__form .product-form__submit {
  padding: 28px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-bar__form .product-form__submit .product-form__glow {
  height: 12px;
  width: 12px;
  margin: 0 20px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.product-bar__form .product-form__submit.loading {
  color: black;
}

.product-bar__form .product-form__submit.loading:hover {
  color: white;
}

.product-bar__form .product-form {
  display: flex;
}

.product-bar__form variant-radios {
  display: flex;
  align-items: center;
}

.product-form__input-buttons-dropdown {
  padding: 14px 14px 14px 18px;
  transform: translateX(-18px);
  background: white;
  position: absolute;
  bottom: 100%;
  border: 1px solid #F2F2F2;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}

.product-bar__form .product-form__input-button svg {
  margin-left: 20px;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
}

.product-bar__form .product-form__input-button.active + .product-form__input-buttons-dropdown {
  opacity: 1;
  visibility: visible;
}

.product-bar__form .product-form__input-button.active svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.product-bar__form .product-form__input {
  margin-right: 50px;
  margin-bottom: 0;
}

.product-bar__form .product-form__input-wrapper {
  display: flex;
  align-items: center; 
}

.product-bar__form .product-form__input-button-wrapper {
  display: flex;
  align-items: center;
}

.product-bar__form .product-form__input input[type='radio'] + label {
  width: unset;
  height: unset;
  margin: 0;
  background: transparent;
  border-radius: unset;
  cursor: pointer;
}

.product-bar__form .product-form__input input[type='radio'] + label::after {
  content: none;
}

.product-bar__form .product-form__input input[type='radio'] + label .product-form__input-btn {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100%;
  position: relative;
  font-size: 12px;
  background: #F8F7F4;
}

.product-bar__form .product-form__input input[type='radio'] + label .product-form__input-btn::after {
  content: '';
  height: 34px;
  width: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border .3s ease;
}

.product-bar__form .product-form__input input[type='radio']:checked + label .product-form__input-btn::after {
  border-color: rgba(0, 0, 0, .2);
}

.product-bar__form .product-form__input-button {
  display: flex;
  align-items: center;
}

.product-form__input-active-size-bubble {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100%;
  font-size: 12px;
  background: #F8F7F4;
}

.product-bar__form .product-form__input input[type='radio']:checked + label .product-form__input-btn {
  background: #333;
}

.product-bar__form .product-form__input input[type='radio']:checked + label p {
  color: black;
}

.product-bar__form .form__label {
  margin: 0 20px 0 0;
  opacity: .4;
}
.product-bar__form .product__collection-colors {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.product-bar__form .product__swatch {
  display: flex;
  align-items: center;
}

.product-bar__form .product__swatches {
  height: 100%;
  margin: 0;
  padding: 0;
}

.product-bar__form .product__swatches-button {
  display: flex;
  align-items: center;
  color: black;
}

.product-bar__form .product__swatches-dropdown {
  padding: 14px 14px 14px 18px;
  transform: translateX(-18px);
  background: white;
  position: absolute;
  bottom: 100%;
  border: 1px solid #F2F2F2;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}

.product-bar__form .product__swatches-button svg {
  margin: 0 0 0 20px;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
}

.product-bar__form .product__swatches-button.active + .product__swatches-dropdown {
  opacity: 1;
  visibility: visible;
}

.product-bar__form .product__swatches-button.active svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.product-bar__form .product__swatch {
  margin: 0 0 10px 0;
}

.product-bar__form .product__swatch-color {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.product-bar__form .product__swatch-color::after {
  height: 34px;
  width: 34px;
}

.product-bar__form .product__active-color {
  margin: 0;
}

@media only screen and (max-width: 1050px) {
  .product-bar .product__collection-colors {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .product-bar {
    border: 0;
  }

  .product-bar .page-width {
    padding: 0;
  }

  .product-bar__form {
    width: 100%;
  }

  .product-bar__form .product-form {
    width: 100%;
  }

  .product-bar__form .form {
    width: 100%;
  }

  .product-bar__form .product-form__submit {
    width: 100%;
  }
}