.locksmith-passcode-container {
  height: 34vh;
}

.locksmith-passcode-container .locksmith-resource-form {
  text-align: center;
  margin-top: 80px;
}
 
.locksmith-resource-form label {
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
}

.locksmith-resource-form .locksmith-passcode {
  border: 1px solid #000;
  outline: 0;
}

.locksmith-resource-form input:focus-visible {
  outline: 0;
}

.locksmith-resource-form button {
  padding: 16px 50px 18px;
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

/* ======================== Mobile search css start ========================= */

.mobile__wrap {
  display: flex;
  align-items: center;
}

.mobile__wrap summary::-webkit-details-marker {
  display: none;
}

.mobile__search {
  display: inline-flex;
  line-height: 0;
  box-sizing: border-box;
}

.mobile__search .modal__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, transform .5s ease, visibility 0s linear .5s;
  transform: translate3d(0, -100%, 0);
}

.mobile__search .header__icon {
  justify-content: unset;
  color: #000;
  margin-left: 0;
  cursor: pointer;
}

.mobile__search .header__icon .icon {
  height: 18px;
  width: 18px;
}


details[open=true] > .search-modal {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  transform: translateZ(0);
}

details[open=true] .modal-overlay {
  display: block;
}

details[open=true] .modal-overlay::after {
  position: absolute;
  content: '';
  background-color: rgb(0, 0, 0, 0.5);
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
}

.search-modal__content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 50px 10px 20px;
  position: relative;
  box-sizing: border-box;
}

.search-modal__form {
  width: 100%;
  position: relative;
  display: inline-block;
}

.search-modal__close-button {
  position: absolute;
  right: 10px;
  top: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  height: 25px;
  width: 25px;
  background-color: transparent;
}

.search-modal .icon {
  width: 25px;
  height: 25px;
}

.mobile__search .modal__toggle-close {
  display: none;
}

#predictive-search {
  opacity: 1;
  visibility: visible;
  width: 100vw;
  padding: 0 20px 20px;
  position: absolute;
  z-index: 4000;
  top: auto;
  left: -20px;
  right: 0;
  height: 400px;
  transition: max-height .5s ease, opacity .5s ease, visibility .5s;
  background: #fff;
  overflow: scroll;
  -webkit-overflow-scrolling: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: none;
}

.shopify-section-header.scrolled #predictive-search {
  height: calc(100vh - 45px);
}

#predictive-search-results {
  margin-top: 20px;
}

#predictive-search-title {
  margin: 0;
  font-size: 20px;
  font-family: Tobias, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.predictive-search-products {
  list-style: none;
  margin: 10px 0 30px;
  padding: 0;
}

.predictive-search-products li > a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.predictive-search-products li {
  margin: 10px 0;
}

.predictive-search-products li > a span {
  display: block;
  line-height: normal;
}

#predictive-search-results button {
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.mobile__search #Search {
  width: 100%;
  padding: 0 0 8px;
  border: 0;
  font-size: 14px;
  font-family: ABC Favorit, sans-serif;
  letter-spacing: .02em;
  line-height: normal;
  background: #f2f0e8 !important;
  outline: none;
  display: inline-block;
  padding: 12px;
  box-sizing: border-box;
  padding-left: 40px;
  border-radius: 0;
}

.mobile__search #Search::-webkit-search-cancel-button {
  display: none;
}

.search-modal__form .search__button {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
  top: 10px;
}

#Search::-webkit-search-cancel-button {
  margin-top: -3px;
}

#Search::-webkit-search-decoration {
  display: none;
}

@keyframes animateMenuOpen {
  
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

@media screen and (min-width: 1150px) {
  
  .mobile__wrap {
    display: none;
  }
  
}

/* ======================== Mobile search css end ========================= */

/* ======================== BFCM Klaviyo ========================= */
.page-bfcm-early-access .kl-private-reset-css-Xuajs1 {
  border: 0 !important;
}

.page-bfcm-early-access .kl-private-reset-css-Xuajs1 button {
  border-bottom: 1px solid black !important;
  width: auto !important;
}

.page-bfcm-early-access .kl-private-reset-css-Xuajs1 button.go3265039304 {
  width: 100% !important;
}

.page-bfcm-early-access .kl-private-reset-css-Xuajs1 input {
  border-bottom: 1px solid black !important;
  height: 50px !important;
}

.page-bfcm-early-access .go2771253331.go2771253331.go2771253331:focus-visible {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid black !important;
  outline: 0 !important;
}

.page-bfcm-early-access .go850562508:focus-visible {
  border: 0 !important;
  outline: 0 !important;
}
