.locksmith-passcode-container {
  height: 34vh;
}

.locksmith-passcode-container .locksmith-resource-form {
  text-align: center;
  margin-top: 80px;
}
 
.locksmith-resource-form label {
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
}

.locksmith-resource-form .locksmith-passcode {
  border: 1px solid #000;
  outline: 0;
}

.locksmith-resource-form input:focus-visible {
  outline: 0;
}

.locksmith-resource-form button {
  padding: 16px 50px 18px;
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

@media screen and (min-width: 1150px) {
  
  .mobile__search {
    display: none;
  }
  
}