.locksmith-passcode-container {
  height: 34vh;
}

.locksmith-passcode-container .locksmith-resource-form {
  text-align: center;
  margin-top: 80px;
}
 
.locksmith-resource-form label {
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
}

.locksmith-resource-form .locksmith-passcode {
  border: 1px solid #000;
  outline: 0;
}

.locksmith-resource-form input:focus-visible {
  outline: 0;
}

.locksmith-resource-form button {
  padding: 16px 50px 18px;
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

/* ======================== Mobile search css ========================= */

.mobile__search {
  display: inline-flex;
  line-height: 0;
}

.mobile__search .modal__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile__search .header__icon .icon {
  height: 25px;
  width: 25px;
}

details[open] > .search-modal {
  opacity: 1;
  animation: animateMenuOpen .2s ease;
}

details[open] .modal-overlay {
  display: block;
}

details[open] .modal-overlay::after {
  position: absolute;
  content: '';
  background-color: rgb(0, 0, 0, 0.5);
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
}

.search-modal {
  opacity: 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
  min-height: calc(100% + 0 + (2 * 1));
  height: 100%;
}

.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem 0 1rem;
  line-height: calc(1 + 0.8 / 1.0);
  position: relative;
}

.search-modal__content-bottom {
  bottom: calc((0 / 2));
}

.search-modal__content-top {
  top: calc((0 / 2));
}

.search-modal__form {
  width: 100%;
}

.search-modal__close-button {
  position: absolute;
  right: 0.3rem;
}

@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile__search .header__icon {
  justify-content: unset;
}

@media screen and (min-width: 1150px) {
  
  .mobile__search {
    display: none;
  }
  
}