.locksmith-passcode-container .locksmith-resource-form {
  text-align: center;
  margin-top: 80px;
}

.locksmith-resource-form  label {
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  letter-spacing: normal;
}

.locksmith-resource-form button {
  padding: 16px 50px 18px;
  font-family: ABC Favorit, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}