.body-hero {
  /* min-height: 710px; */
  height: 100%;
  display: flex;
  position: relative;
  background-color: var(--body-brown-2);
  flex-wrap: wrap;
}

.body-hero .page-width {
  position: absolute;
  bottom: 0;
  max-width: 100%;
}

.body-hero .body-hero-overlay__link {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.body-hero--split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.body-hero__content {
  width: 100%;
  height: auto;
  padding: 40px;
  display: flex;
  position: relative;
  z-index: 1;
}

.body-hero__content--top-left {
  text-align: left;
}

.body-hero__content--top-center {
  justify-content: center;
  text-align: center;
}

.body-hero__content--top-right {
  justify-content: flex-end;
  text-align: right;
}

.body-hero__content--center-left {
  align-items: center;
  text-align: center;
}

.body-hero__content--center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-hero__content--center-right {
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.body-hero__content--bottom-left {
  align-items: flex-end;
}

.body-hero__content--bottom-center {
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.body-hero__content--bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.body-hero__content-container {
  max-width: 635px;
  width: 100%;
  color: white;
}

.body-hero__subtitle {
  margin: 0;
}

.body-hero__title {
  margin: 40px 0;
  text-transform: uppercase;
}

.body-hero__image {
  width: 100%;
}

.body-hero--split .body-hero__image {
  position: relative;
}

.body-hero__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1150px) {
  .body-hero--split .body-hero__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .body-hero {
    /* min-height: 600px; */
  }

  .body-hero--split {
    min-height: unset;
    grid-template-columns: 1fr;
  }

  .body-hero__content {
    padding: 20px;
  }

  .body-hero--split .body-hero__content {
    padding: 50px 20px;
  }

  .body-hero__title {
    margin: 20px 0 30px;
    font-size: 40px !important;
  }

  .body-hero--split .body-hero__title {
    margin: 20px 0;
  }

  .body-hero--split .body-hero__image {
    /* padding-bottom: 83%; */
  }
}