.page-about-us {
  overflow-x: hidden;
}

.about-image-text__item {
  margin: 100px 0;
  display: flex;
}

.about-image-text__item.reversed {
  flex-direction: row-reverse;
}

.about-image-text__item-image {
  width: 50%;
  padding-right: 60px;
  position: relative;
}

.about-image-text__item.reversed .about-image-text__item-image {
  padding-right: 0;
  padding-left: 60px;
}

.about-image-text__item-image-container {
  padding-bottom: 100%;
  position: relative;
}

.about-image-text__glow {
  height: 220px;
  width: 220px;
  position: absolute;
  top: -63px;
  right: -150px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(70px);
  -webkit-filter: blur(70px);
}

.about-image-text__item-content {
  width: 50%;
  padding: 0 0 30px 60px;
}

.about-image-text__item.reversed .about-image-text__item-content {
  padding-left: 0;
}

.about-image-text__item-content-container {
  height: 100%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.about-image-text__item-content.bottom-align .about-image-text__item-content-container {
  justify-content: flex-end;
}

.about-image-text__item-content-container p {
  margin: 0;
}

.about-image-text__item-content-container p:first-child:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .about-image-text__item {
    margin: 40px 0 60px;
    flex-direction: column !important;
    gap: 0;
  }

  .about-image-text__item.mobile-reversed {
    flex-direction: column-reverse !important;
  }

  .about-image-text__item-image {
    width: 100%;
    padding: 0 !important;
  }

  .about-image-text__item-content {
    width: 100%;
    padding: 20px 0 0 0 !important;
  }

  .about-image-text__item.mobile-reversed .about-image-text__item-content {
    padding: 0 0 50px !important;
  }

  .about-image-text__item-content-container h2 {
    font-size: 30px;
  }

  .about-image-text__item-content-container p {
    font-size: 12px;
  }
}

/*============================================================================
  Monday Body
==============================================================================*/
.monday-body .about-image-text__item-content-container {
  max-width: 540px;
  justify-content: flex-end;
  gap: 80px;
}

.monday-body .about-image-text__item-content-container p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.02em;
  text-transform: unset;
}

@media screen and (max-width: 768px) {
  .monday-body .about-image-text__item-content-container {
    gap: 5px;
  }

  .monday-body .about-image-text__item-content-container p {
    font-size: 12px;
  }
}