.about-text-over-image {
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text-over-image h2 {
  max-width: 445px;
  margin: 0 auto;
  color: white;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about-text-over-image {
    height: 370px;
  }

  .about-text-over-image h2 {
    max-width: 270px;
  }
}