.image-text-split__container {
  min-height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #D7D8D0;
}

.image-text-split__content {
  padding: 70px 40px;
}

.image-text-split__content-container {
  max-width: 375px;
}

.image-text-split__subtitle {
  margin: 0 0 20px;
}

.image-text-split__title {
  margin: 0 0 20px;
}

.image-text-split__text {
  margin: 0;
}

.image-text-split__links {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.image-text-split__image {
  position: relative;
}

@media screen and (max-width: 768px) {
  .image-text-split__container {
    min-height: unset;
    display: flex;
    flex-direction: column-reverse;
  }

  .image-text-split__content {
    padding: 40px 15px;
    text-align: center;
  }

  .image-text-split__image {
    padding-bottom: 100%;
  }

  .image-text-split__links {
    justify-content: center;
  }
}