.countdown {
  padding: 14px 0;
}

.countdown__text {
  margin: 0 0 10px;
  text-align: center;
}

.countdown__text * {
  margin: 0;
  font-size: 12px;
  line-height: 1;
}

.countdown__text a {
  text-decoration: underline;
}

.countdown__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.countdown__element {
  display: flex;
  align-items: center;
  gap: 5px;
}

.countdown__time {
  margin: 0;
  font-size: 22px;
  line-height: 1;
}

.countdown__unit {
  margin: 2px 0 0;
  line-height: 1;
}
