.text-section {
  margin: 120px 0;
}

.text-section__container {
  max-width: 655px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.text-section__container .glow {
  height: 90px;
  width: 90px;
  position: absolute;
  top: -14px;
  right: -18px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(30px);
  -webkit-filter: blur(30px);
}

.text-section__container h2 {
  margin: 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .text-section {
    margin: 90px 0;
  }

  .text-section__container .glow {
    top: -30px;
    right: 20px;
  }
}