.customer.account {
  padding: 100px 0 77px 0;
}

.customer .title {
  margin: 0 0 60px 0;
}

.customer .customer-wrapper {
  display: flex;
  justify-content: center;
  grid-gap: 186px;
}

.customer .tabs {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  width: 100%;
  max-width: 170px;
  margin-top: 60px;
}

.customer .tab {
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.customer .tab .lens {
  display: none;
}

.customer .tab.active .lens {
  display: block;
  background: #FFFF50;
  width: 20px;
  height: 20px;
  filter: blur(10px);
}

.customer .account-content {
  width: 100%;
  max-width: 1015px;
}

.customer .account-section-title {
  border-bottom: 1px solid #F2F0E8;
  margin: 0;
  padding-bottom: 20px;
}

.customer .address {
  padding: 30px 0 0 0;
}

.customer .sh2 {
  margin-bottom: 10px;
}

.customer .address-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.customer .address-new {
  margin-top: 30px;
  min-width: 150px;
  width: 40%;
}

.customer .address-new a {
  text-transform: capitalize;
}

.customer .edit-address-link {
  margin-top: 30px;
}

.customer .add-address-mobile {
  display: none;
}

.customer .edit-address-link:hover {
  cursor: pointer;
}

.customer [aria-expanded=false]~div[id] {
  display: none;
}

.customer [aria-expanded=true]~div[id] {
  display: block;
}

.customer label {
  opacity: 0.4;
}

.customer input,
.customer select {
  border-bottom: 1px solid #000000!important;
  padding: 14px 0!important;
}

.customer input.body-large::placeholder {
  opacity: 0.5;
}

.customer .field {
  margin-top: 40px;
}

.customer .btn-group {
  margin: 40px 0 50px 0;
}

/* Swell rewards widget */
.yotpo-widget-my-rewards-widget .yotpo-headline .yotpo-inner-text {
  font-family: Tobias,sans-serif !important;
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 50px !important;
  line-height: 1.2 !important;
  letter-spacing: -.04em !important;
  text-transform: unset !important;
}

.yotpo-widget-my-rewards-widget .yotpo-description .yotpo-inner-text {
  font-family: Sunset Gothic,sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 1.425 !important;
  letter-spacing: .02em !important;
  text-transform: uppercase !important;
}

.yotpo-widget-my-rewards-widget .yotpo-logged-in-view .yotpo-description {
  margin-bottom: 30px !important;
}

.yotpo-widget-my-rewards-widget .yotpo-primary-button {
  padding: 5px 8px !important;
}

.yotpo-widget-my-rewards-widget .yotpo-primary-button button {
  width: 225px !important;
  height: inherit !important;
  padding: 13px 10px 16px !important;
  font-family: Neue Haas Unica Pro,sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1 !important;
  background: black !important;
  color: #fff !important;
  border: 1px solid black !important;
  display: inline-block !important;
  text-align: center !important;
  cursor: pointer !important;
  transition: border .35s ease-in-out,color .35s ease-in-out,background .35s ease-in-out !important;
  -webkit-transition: border .35s ease-in-out,color .35s ease-in-out,background .35s ease-in-out !important;
}

.yotpo-widget-my-rewards-widget .yotpo-secondary-button {
  padding: 5px 8px !important;
}

.yotpo-widget-my-rewards-widget .yotpo-primary-button button:hover {
  background: transparent !important;
  border-color: #000 !important;
  color: #000 !important;
  opacity: 1 !important;
}

.yotpo-widget-my-rewards-widget .yotpo-secondary-button button {
  width: 225px !important;
  height: inherit !important;
  padding: 13px 10px 16px !important;
  font-family: Neue Haas Unica Pro,sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1 !important;
  border: 1px solid black !important;
  display: inline-block !important;
  text-align: center !important;
  cursor: pointer !important;
  transition: border .35s ease-in-out,color .35s ease-in-out,background .35s ease-in-out !important;
  -webkit-transition: border .35s ease-in-out,color .35s ease-in-out,background .35s ease-in-out !important;
}

/* Yotpo rewards popup */
.yotpo-rewards-history .yotpo-rewards-history-title .yotpo-inner-text {
  font-family: Tobias,sans-serif !important;
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 28px !important;
  line-height: 1.2 !important;
  letter-spacing: -.04em !important;
  text-transform: unset !important;
}

.yotpo-rewards-history .no-rewards-text .yotpo-inner-text {
  font-family: Neue Haas Unica Pro,sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1 !important;
}

@media screen and (max-width: 768px) {
  .customer.account {
    padding: 70px 10px 10px;
  }

  .customer .title {
    margin: 0 0 40px 0;
  }

  .customer .tabs {
    display: none;
  }

  .customer .account-content {
    padding: 0 10px;
  }

  .customer .add-address-mobile {
    display: block;
  }

  .customer .add-address {
    display: none;
  }

  .customer .address-box {
    align-items: flex-end;
  }
}
