.product-slider {
  margin: 70px 0 80px;
}

.product-slider__header {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


@media screen and (max-width: 1050px) {
  .product-slider {
    overflow: hidden;
  }
}

/* Navigation */
.product-slider__navigation {
  display: flex;
}

.product-slider__navigation button {
  margin-right: 70px;
  padding-bottom: 17px;
  display: block;
  position: relative;
}

.product-slider__navigation button::before {
  content: '';
  position: absolute;
  left: 30%;
  right: 50%;
  bottom: 0;
  border-bottom: 3px solid transparent;
  transition: left .5s ease, border .5s ease;
  -webkit-transition: left .5s ease, border .5s ease;
}

.product-slider__navigation button::after {
  content: '';
  position: absolute;
  right: 30%;
  left: 50%;
  bottom: 0;
  border-bottom: 3px solid transparent;
  transition: right .5s ease, border .5s ease;
  -webkit-transition: .5s ease, border .5s ease;
}

.product-slider__navigation button:hover::before {
  left: 0;
  border-color: #F8F83A;
}

.product-slider__navigation button:hover::after {
  right: 0;
  border-color: #F8F83A;
}

.product-slider__navigation button.active::before, .product-slider__navigation button.active::after {
  border-color: #F8F83A;
}

.product-slider__arrows .swiper-button svg {
  width: 20px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .product-slider {
    margin: 40px 0;
  }

  .product-slider__header {
    margin-bottom: 30px;
  }

  .product-slider__navigation button {
    margin-right: 60px;
  }

  .product-slider__navigation button:last-child {
    margin: 0;
  }
}

/* Arrows */
.product-slider__arrows-wrapper {
  display: none;
}

.product-slider__arrows-wrapper.active {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-slider__arrows-wrapper .swiper-button {
  flex-shrink: 0;
}

.product-slider__arrows-wrapper .swiper-button-next {
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .product-slider__arrows {
    display: none;
  }
}

.product-slider__col-link {
  position: absolute;
  right: 0;
  bottom: -30px;
}

/* Collections */
.product-slider__collections {
  margin: 0 -5px;
}

.product-slider__collection {
  padding: 0 5px;
  display: none;
}

.product-slider__collection.active {
  display: block;
}

@media screen and (max-width: 1050px) {
  .product-slider__collection {
    overflow: visible;
  }
}

/* Scrollbar */
.product-slider .swiper-scrollbar {
  margin-top: 40px;
  height: 1px;
  background: rgba(0, 0, 0, .04);
}

.product-slider .swiper-scrollbar-drag {
  background: black;
}