.instagram {
  margin-top: 35px;
  overflow: hidden;
}

.instagram__header {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram__header p {
  margin: 0;
}

.instagram__header .glow {
  margin: 0 30px;
  height: 23px;
  width: 23px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.instagram__content {
  margin: 0 -10px;
}

@media screen and (max-width: 768px) {
  .instagram__content {
    margin: 0 -5px;
  }

  .instagram .fs-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .instagram .fs-timeline-entry {
    margin: 5px !important;
  }
}