.product-recommendations {
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
  overflow: hidden;
}

.product-recommendations__heading {
  margin: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-recommendations__heading .glow {
  height: 23px;
  width: 23px;
  margin: 0 30px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.product-recommendations__grid {
  overflow: visible;
}

/* Scrollbar */
.product-recommendations .swiper-scrollbar {
  margin-top: 40px;
  height: 1px;
  background: rgba(0, 0, 0, .04);
}

.product-recommendations .swiper-scrollbar-drag {
  background: black;
}

@media only screen and (max-width: 768px) {
  .product-recommendations {
    margin: 80px 0 60px;
  }

  .product-recommendations__heading {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  .product-recommendations__heading .glow {
    margin: 0 10px;
  }
}

/*============================================================================
  Monday Body
==============================================================================*/
.monday-body .product-recommendations__heading {
  justify-content: flex-start;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: unset;
}

.monday-body .product-recommendations__heading .glow {
  height: 18px;
  width: 15px;
  background-color: var(--body-green-2);
}



