.body-collection {
  margin: 50px 0;
}

/* Header */
.body-collection__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.body-collection__title {
  margin: 0;
  font-weight: 300;
}

.body-collection__links {
  display: flex;
  gap: 40px;
}

/* Content */
.body-collection__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.body-collection__image {
  padding-bottom: 120%;
  position: sticky;
  top: var(--header-height);
}

.body-collection__image-text {
  margin: 0;
  position: absolute;
  transform-origin: top left;
  z-index: 2;
  text-transform: uppercase;
  color: white;
}

.body-collection__image-text--1 {
  top: 30px;
  left: 30px;
  transform: rotate(-90deg) translateX(-100%);
}

.body-collection__image-text--2 {
  top: 30px;
  left: 115px;
}

.body-collection__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 1150px) {
  .body-collection__image-text {
    font-size: 50px;
  }

  .body-collection__image-text--1 {
    left: 20px;
  }

  .body-collection__image-text--2 {
    top: 20px;
    left: 75px;
  }
}

@media screen and (max-width: 768px) {
  .body-collection {
    margin: 10px 0;
  }

  .body-collection__header {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
  }

  .body-collection__title {
    max-width: 255px;
    margin: 0 auto 30px;
    text-align: center;
    line-height: 1.2;
  }

  .body-collection__links {
    justify-content: center;
  }

  .body-collection__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .body-collection__image-text {
    font-size: 36px;
  }

  .body-collection__image-text--1 {
    left: 10px;
    top: 13px;
  }

  .body-collection__image-text--2 {
    top: 10px;
    left: 55px;
  }
}