.footer {
  padding: 100px 0 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 70px 0 0;
  }
}

/* Logo */
.footer__logo {
  margin-bottom: 70px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 500px) {
  .footer__logo svg {
    width: 100%;
    height: auto;
  }
}

/* Top */
.footer__content-top {
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr 310px;
  gap: 40px;
}

.footer__blocks-wrapper {
  display: flex;
}

.footer__blocks-wrapper .footer-block {
  padding-right: 120px;
}

.footer__blocks-wrapper  .footer-block:last-child {
  padding: 0;
}

.footer-block__heading {
  margin: 0 0 20px;
  opacity: .4;
}

.footer-block__details-content li {
  margin-bottom: 18px;
}

.footer-block__details-content li:last-child {
  margin: 0;
}

.footer__newsletter {
  max-width: 100% !important;
}

.footer__newsletter .field__label {
  display: none;
}

.footer__newsletter input {
  height: unset;
  padding: 0 0 14px;
  border-bottom: 1px solid black;
}

.footer__newsletter input::placeholder {
  opacity: 1;
  color: black;
}

.footer__newsletter .field__button {
  height: unset;
  width: unset;
  padding-left: 10px;
  top: 0;
  right: 0;
  bottom: 0;
}

.footer__newsletter .field__button svg {
  width: 15px;
  height: auto;
}

@media screen and (max-width: 1050px) {
  .footer__blocks-wrapper .footer-block {
    padding-right: 60px;
  }
  
  .footer__blocks-wrapper  .footer-block:last-child {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__content-top {
    display: block;
  }

  .footer__blocks-wrapper {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 20px;
  }

  .footer-block__heading {
    opacity: 1;
  }

  .footer__blocks-wrapper .footer-block:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__blocks-wrapper .footer-block:last-child ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }

  .footer__newsletter {
    padding-right: 10px;
  }
}

/* Bottom */
.footer__content-bottom {
  padding-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr 310px;
  gap: 40px;
}

.footer__content-credits a {
  padding: 7px 10px;
  background: #EBE9E2;
  color: black !important;
}

.footer__content-bottom .list-social {
  margin-left: -10px;
  justify-content: flex-start;
}

.footer__content-bottom .list-social a {
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .footer__content-bottom {
    display: block;
  }
}

/* Info */
.footer__info {
  padding: 30px 0 36px;
  background: black;
}

.footer__info-wrapper {
  display: grid;
  grid-template-columns: 1fr 310px;
  gap: 40px;
}

.footer__info-wrapper a {
  color: white;
}

.footer__info-links {
  display: flex;
}

.footer__info-links a:first-child {
  margin-right: 110px;
}

@media screen and (max-width: 768px) {
  .footer__info {
    padding: 20px 0;
  }

  .footer__info-wrapper {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    gap: unset;
  }

  .footer__info-links {
    display: block;
  }

  .footer__info-links a {
    display: block;
  }

  .footer__info-links a:first-child {
    margin: 0 0 20px;
  }

  .footer__info-copy {
    margin-bottom: 20px;
  }

  .footer__content-credits {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .footer__content-top {
    padding-bottom: 40px;
  }
}

/* Klaviyo embed */
.footer .kl-private-reset-css-Xuajs1 {
  min-height: auto !important;
}

.footer .kl-private-reset-css-Xuajs1 input[type='email'] {
  font-family: 'Neue Haas Unica Pro', sans-serif !important;
  font-style: normal !important;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  padding-left: 0 !important;
}

.footer .kl-private-reset-css-Xuajs1 input[type='email']::placeholder {
  font-family: 'Neue Haas Unica Pro', sans-serif !important;
  font-style: normal !important;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
}

.footer .kl-private-reset-css-Xuajs1 button {
  position: relative;
  padding: 0 !important;
  width: 40px !important;
  border-bottom: 1px solid black !important;
  background-image: url('https://cdn.shopify.com/s/files/1/2352/6823/files/right-arrow.svg?v=1646025811') !important;
  background-size: 16px !important;
  background-position: center right!important;
  background-repeat: no-repeat !important;
}