.fit-guide-section {
  min-height: 900px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  overflow: hidden;
}

.fit-guide-section__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tan);
}

.fit-guide-section__left-top-text {
  position: absolute;
  top: -5px;
  left: 30px;
  right: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 2;
}

.fit-guide-section__left-top-text .h1 {
  margin: 0;
}

.fit-guide-section__left-top-text .offset {
  transform: translate(29px, 125%);
}

.fit-guide-section__left-bottom-text {
  position: absolute;
  bottom: -24px;
  left: 30px;
  right: 30px;
  text-align: center;
  color: white;
  z-index: 2;
}

.fit-guide-section__left-bottom-text .h1 {
  margin: 0;
}

.fit-guide-section__images {
  width: 350px;
  mix-blend-mode: multiply;
}

.fit-guide-section__image {
  padding-bottom: 110px;
  text-align: center;
}

.fit-guide-section__image-content {
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transition: opacity .4s ease 0s, transform .1s ease .3s;
  -webkit-transition: opacity .4s ease 0s, transform .1s ease .3s;
}

.fit-guide-section__image.swiper-slide-active .fit-guide-section__image-content {
  opacity: 1; 
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: opacity .5s ease .4s, transform .8s ease .4s;
  -webkit-transition: opacity .5s ease .4s, transform .8s ease .4s;
}

.fit-guide-section__image-wrapper {
  height: 350px;
  margin-bottom: -20px;
  position: relative;
}

.fit-guide-section__image-wrapper img {
  object-fit: contain;
}

.fit-guide-section__image-content .text-link {
  margin-top: 8px;
}

.fit-guide-section__image .caption-neue {
  margin: 0 auto 20px;
  padding: 8px 10px;
  display: inline-block;
  background: black;
  color: white;
  position: relative;
}

.fit-guide-section__image .body {
  max-width: 290px;
  margin: 0 auto 30px;
  position: relative;
}

.fit-guide-section__right {
  display: flex;
  flex-direction: column;
  background: var(--bone);
}

/* Content */
.fit-guide-section__content {
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fit-guide-section__content-slider {
  width: 100%;
  max-width: 635px;
  margin: 0 auto;
}

.fit-guide-section__content-item-wrapper {
  opacity: 0;
  transition: opacity .4s ease;
  transition-delay: 0s;
}

.fit-guide-section__content-item.swiper-slide-active .fit-guide-section__content-item-wrapper {
  opacity: 1; 
  transition: opacity .8s ease;
  transition-delay: .4s;
}

.fit-guide-section__content-title {
  margin: 0 0 20px;
}

.fit-guide-section__content-short-description {
  margin: 0 0 30px;
  font-size: 18px;
}

.fit-guide-section__content-description {
  max-width: 438px;
  margin: 0 0 50px;
}

.fit-guide-section__content-stat {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.fit-guide-section__content-stat:last-child {
  margin: 0;
}

.fit-guide-section__content-stat .detail-caps {
  width: 100px;
  margin: 0;
  opacity: .6;
}

.fit-guide-section__content-stat .body-small {
  margin: 0;
}

.fit-guide-section__content-buttons {
  margin-top: 60px;
}

/* Navigation */
.fit-guide-section__navigation {
  padding: 27px 40px;
  background: black;
  color: white;
}

.fit-guide-section__navigation-wrapper {
  width: 100%;
  max-width: 635px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.fit-guide-section__navigation-wrapper .swiper-button {
  flex-shrink: 0;
}

.fit-guide-section__navigation-wrapper .swiper-button svg {
  width: 15px;
  height: auto;
}

.fit-guide-section__navigation-slider {
  padding: 0 20px;
  /* width: 30%;
  overflow: visible; */
}

.fit-guide-section__navigation-item {
  color: white;
  opacity: .2;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

.fit-guide-section__navigation-item.swiper-slide-active {
  opacity: 1;
}

.fit-size-chart__arrow {
  text-align: right;
}

.fit-size-chart__arrow svg {
  width: 20px;
  height: auto;
}

@media screen and (max-width: 1700px) {
  .fit-guide-section {
    height: unset;
    min-height: 650px;
  }
}

@media screen and (max-width: 1600px) {
  .fit-guide-section__content-slider {
    max-width: 460px;
  }

  .fit-guide-section__navigation-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .fit-guide-section-wrapper .page-width {
    padding: 0;
  }

  .fit-guide-section {
    min-height: unset;
    display: block;
  }

  .fit-guide-section__left-top-text {
    top: -12px;
  }

  .fit-guide-section__left-top-text .offset {
    transform: none;
  }

  .fit-guide-section__left-bottom-text {
    bottom: -12px;
  }

  .fit-guide-section__images {
    width: 230px;
    padding-bottom: 30px;
  }

  .fit-guide-section__image {
    padding: 0;
  }

  .fit-guide-section__image-wrapper {
    height: 230px;
  }

  .fit-guide-section__content {
    padding: 40px 20px;
  }

  .fit-guide-section__content-short-description {
    font-size: 13px;
  }

  .fit-guide-section__content-buttons {
    display: flex;
  }

  .fit-guide-section__content-buttons a:last-child {
    margin-left: 30%;
  }

  .fit-guide-section__navigation {
    padding: 20px 10px;
  }

  .fit-guide-section__navigation-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fit-guide-section__navigation-mobile .btn {
    margin: 0 10px 0 0;
  }

  .fit-guide-section__navigation-mobile-select {
    display: flex;
    align-items: center;
  }

  .fit-guide-section__navigation-mobile-select select {
    padding: 2px 0 0 0;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    appearance: none;
    color: white;
  }

  .fit-guide-section__navigation-mobile-select svg {
    width: 10px;
    height: auto;
    margin: 0 0 0 10px;
  }

  .fit-guide-section__navigation-mobile-select svg path {
    stroke: white;
  }
}