.about-text {
  margin: 50px 0;
}

.about-text__container {
  max-width: 1130px;
}

.about-text__container h2 {
  margin: 0;
}

/*============================================================================
  Monday Body
==============================================================================*/
.monday-body .about-text {
  margin: 40px 0 120px;
}

.monday-body .about-text__container {
  max-width: 920px;
}

.monday-body .about-text__container h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0;
  text-transform: unset;
}

@media screen and (max-width: 768px) {
  .monday-body .about-text {
    margin: 60px 0;
    text-align: center;
  }

  .monday-body .about-text__container h2 {
    padding: 0 20px;
    font-size: 20px;
  }
}