.body-text-buttons {
  padding: 120px 0;
  text-align: center;
  background-color: var(--body-green-1);
}

.body-text-buttons__container {
  max-width: 700px;
  margin: 0 auto;
}

.body-text-buttons__text {
  margin: 0 0 30px;
  font-size: 35px;
  font-weight: 300;
}

.body-text-buttons__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .body-text-buttons {
    padding: 60px 0 40px;
  }

  .body-text-buttons__container {
    max-width: 285px;
  }

  .body-text-buttons__text {
    margin-bottom: 40px;
    font-size: 20px;
  }

  .body-text-buttons__buttons {
    gap: 10px;
  }
}