.body-categories {
  margin: 40px 0;
}

.body-categories__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.body-categories__block {
  padding-bottom: 115%;
  position: relative;
}

.body-categories__block video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.body-categories__block-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  z-index: 2;
  color: white;
}

@media screen and (max-width: 768px) {
  .body-categories__container {
    grid-template-columns: 1fr;
  }

  .body-categories__block {
    padding-bottom: 57%;
  }

  .body-categories__block-title {
    top: 50%;
  }
}