.editorial-banner {
  margin: 70px 0;
  overflow: hidden;
}

.editorial-banner__container {
  position: relative;
  color: white;
}

.editorial-banner__container .h1 {
  margin: 0;
}

.editorial-banner__left-text {
  padding: 0 5px;
  position: absolute;
  top: -30px;
  left: 90px;
  overflow: hidden;
  filter: blur(8px);
}

.editorial-banner__right-text {
  padding: 0 5px;
  position: absolute;
  top: 70px;
  right: -15px;
  overflow: hidden;
  filter: blur(8px);
}

.editorial-banner__link {
  position: absolute;
  left: 95px;
  bottom: 35px;
  overflow: hidden;
}

.editorial-banner__link .text-link {
  display: inline-flex;
  align-items: flex-end;
}

.editorial-banner__link .text-link-logo {
  margin-left: 5px;
}

.editorial-banner__link .text-link-logo .aspect-ratio {
  width: 55px !important;
} 

@media screen and (max-width: 1440px) {
  .editorial-banner__left-text {
    left: 25px;
  }

  .editorial-banner__link {
    position: absolute;
    left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .editorial-banner {
    margin: 40px 0;
  }

  .editorial-banner__container {
    height: 500px;
    margin: 0 -10px;
  }

  .editorial-banner__left-text {
    height: 59px;
    top: -14px;
    left: 10px;
  }

  .editorial-banner__right-text {
    height: 59px;
    left: 10px;
    top: 46px;
  }

  .editorial-banner__link {
    left: 10px;
    bottom: 30px;
  }
}