.text-header {
  padding: 80px 0;
}

.text-header__container {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}

.text-header__container .h2 {
  margin: 0 0 30px;
}

.text-header__container p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .text-header {
    padding: 60px 0;
  }

  .text-header__container .h2 {
    margin: 0 0 20px;
  }

  .text-header__container p {
    padding: 0 22px;
  }
}