.product {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 510px;
  gap: 100px;
}

@media screen and (max-width: 1250px) {
  .product {
    gap: 60px;
  }
}

@media screen and (max-width: 1150px) {
  .product {
    grid-template-columns: minmax(0, 1fr) 470px;
  }
}

@media screen and (max-width: 950px) {
  .product {
    grid-template-columns: minmax(0, 1fr) 400px;
  }
}

@media screen and (max-width: 850px) {
  .product {
    display: block;
  }
}

/* Product media */
.product__media-wrapper {
  position: sticky;
  top: 65px;
  display: grid;
  grid-template-columns: minmax(0, .185fr) minmax(0, 1fr);
  gap: 40px;
}

.product-media__tag {
  padding: 6px 8px 5px 9px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: white;
  border: 0.5px solid black;
}

.product-media__tag p {
  font-size: 12px;
  margin: 0;
}

.product__media-list {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.product__media-list .swiper-button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
}

.product__media-list .swiper-button svg {
  width: 15px;
  height: auto;
}

.product__media-list .swiper-button-prev {
  left: 0;
}

.product__media-list .swiper-button-next {
  right: 0;
}

.product__media {
  padding-bottom: 150%;
  position: relative;
}

.product__media video.img-fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.product__media-alt {
  padding: 14px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F2F0E8;
  text-align: center;
}

.product__media-alt p {
  margin: 0;
}

.product__thumbnail-wrapper {
  position: relative;
}

.product__thumbnail-wrapper .swiper-button-next {
  width: unset;
  right: unset;
  top: unset;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.product__thumbnail-wrapper .swiper-button-next::after {
  content: none;
}

.product__thumbnail-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 12%;
}

.product__thumbnail-item {
  position: relative;
  cursor: pointer;
}

.product__thumbnail-item .aspect-ratio::before {
  padding-bottom: 150%;
}

.product__thumbnail-item .aspect-ratio::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  transition: border .3s ease;
}

.product__thumbnail-item.swiper-slide-thumb-active .aspect-ratio::after {
  border-color: black;
}

.product__thumbnail-item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px var(--yellow);
}

.product__media-scrollbar-wrapper {
  display: none;
}

.product__media-scrollbar {
  height: 1px;
}

@media screen and (max-width: 1150px) {
  .product__media-wrapper {
    gap: 20px;
  }

  .product__thumbnail-wrapper .swiper-button-next {
    bottom: 0;
  }
}

@media screen and (max-width: 850px) {
  .product__media-wrapper {
    display: block;
  }

  .product__thumbnail-wrapper {
    display: none;
  }

  .product__media-list  {
    width: auto;
    margin: 0 -10px;
  }

  .product__media-scrollbar-wrapper {
    margin-top: 10px;
    display: block;
  }
  
  .product__media-alt {
    padding: 9px;
  }
}

/* Product info */
.product__info-wrapper {
  padding-top: 40px;
}

.product__info-container {
  position: sticky;
  top: 105px;
}

.product__title {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin: 0 0 16px;
}

.product__price {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #F8F7F4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product__price .price {
  width: 100%;
  margin-bottom: 10px;
}

.product .wk-button {
  width: 100% !important;
  margin-top: 0 !important;
}

klarna-placement p {
  font-family: 'ABC Favorit', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  letter-spacing: .02em !important;
}

.product__info-wrapper .form__label {
  opacity: .4;
  margin-bottom: 7px;
}

.product__label {
  color: #000;
  font-size: 11px;
  line-height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  margin-bottom: -5px;
  margin-left: 16px;
}

@media only screen and (max-width: 850px) {
  .product__info-wrapper {
    padding-top: 30px;
  }

  .product__title {
    margin-bottom: 10px;
  }
}

/* Product swatches */
.product__swatches {
  position: relative;
  margin: 0 0 20px -10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F8F7F4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product__swatches::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 10px;
  background: white;
}

.product__swatch {
  margin: 7px 10px;
}

.product__swatch-color {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  flex-shrink: 0;
  border: 0.5px solid #00000080;
}

.product__swatch-color::after {
  content: '';
  height: 43px;
  width: 43px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 1px solid transparent;
  transition: border .3s ease;
}

.product__swatch.active .product__swatch-color::after {
  border-color: rgba(0, 0, 0, .2);
}

.product__active-color {
  margin: 0 0 0 10px;
}

@media only screen and (max-width: 768px) {
  .product__swatches {
    margin-left: -5px;
  }

  .product__swatch {
    margin: 5px 7px;
  }

  .product__swatch-color {
    height: 20px;
    width: 20px;
  }

  .product__swatch-color::after {
    height: 33px;
    width: 33px;
  }
}

/* Product form */
.product-form {
  display: block;
  margin-bottom: 20px;
}

.product-form__error-message-wrapper:not([hidden]) {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.product-form__error-message-wrapper svg {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
}

/* Form Elements */
variant-radios fieldset {
  margin-bottom: 20px;
  padding: 0;
  border: 0;
}

.product-form__input-buttons {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-form__input-active {
  margin: 0 0 0 10px;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio'] + label {
  height: 30px;
  width: 30px;
  margin: 5px 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #F8F7F4;
}

.product-form__input input[type='radio']:checked + label {
  background-color: #333333;
  color: white;
}

.product-form__input input[type='radio'] + label::after {
  content: '';
  height: 43px;
  width: 43px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border .3s ease;
}

.product-form__input input[type='radio']:checked + label::after {
  border-color: rgba(0, 0, 0, .2);
}

.product__size-chart {
  margin-top: 10px;
}

.product-form__button-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.product-form__button-wrapper .quantity {
  height: 100%;
  width: 160px;
  margin-right: 20px;
  background: #FAF5E1;
  border: 0;
}

.product-form__button-wrapper .quantity__button {
  width: 55px;
}

.product-form__submit {
  margin: 0;
}

.product__shipping-notice {
  opacity: .4;
  margin: 20px 0;
}

.product__final-sale {
  margin-top: 20px;
  color: #EB5757;
}

#dropahint {
  margin-top: 20px !important;
}

@media only screen and (max-width: 850px) {
  .product__shipping-notice {
    text-align: center;
  }
  
  .product__final-sale {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .product-form__input-active {
    margin-left: 7px;
    color: #C2B3A5;
  }

  .product__info-wrapper .form__label {
    margin-bottom: 14px;
  }

  .product-form__input input[type='radio'] + label {
    height: 24px;
    width: 24px;
    margin: 5px 7px;
    font-size: 9.5px;
  }

  .product-form__input input[type='radio'] + label::after {
    height: 33px;
    width: 33px;
  }

  .product-form__button-wrapper {
    margin-top: 20px;
  }

  .product-form__button-wrapper .quantity {
    width: 136px;
    margin-right: 10px;
  }
}

/* No outline when focus-visible is available in the browser */
.no-js .product-form__input input[type='radio']:focus:not(:focus-visible) + label {
  box-shadow: none;
}

.product-form__input .select {
  max-width: 25rem;
}

.no-js .product-form__submit.button--secondary {
  --alpha-button-background: 1;
}

.product-form__submit[aria-disabled="true"] + .shopify-payment-button,
.product-form__submit[disabled] + .shopify-payment-button {
  display: none;
}
  
.size-note p {
  padding-top: 0;
  margin-bottom: 0;
}

@media screen and (forced-colors: active) {
  .product-form__submit[aria-disabled="true"] {
    color: Window;
  }
}

/* Dynamic checkout */
.shopify-payment-button__button--hidden {
  display: none;
}

/* Product dropdowns */
.product__dropdowns {
  margin-top: 40px;
  border-top: 1px solid #F8F7F4;
}

.product__dropdown {
  border-bottom: 1px solid #F8F7F4;
}

.product__dropdown-header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.product__dropdown-header p {
  margin: 0;
}

.product__dropdown-control {
  width: 9px;
  height: 9px;
  position: relative;
}

.product__dropdown-control::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 4px;
  border-right: 1px solid black;
  transition: opacity .3s ease;
}

.product__dropdown-control::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 4px;
  left: 0;
  border-bottom: 1px solid black;
}

.product__dropdown.active .product__dropdown-control::before {
  opacity: 0;
}

.product__dropdown-content {
  display: none;
}

.product__dropdown-content .rte {
  padding-bottom: 20px;
}

.product__dropdown-content .rte h1,
.product__dropdown-content .rte h2,
.product__dropdown-content .rte h3,
.product__dropdown-content .rte h4,
.product__dropdown-content .rte h5,
.product__dropdown-content .rte h6 {
  font-family: 'ABC Favorit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product__dropdown-content .rte p,
.product__dropdown-content .rte ul,
.product__dropdown-content .rte li {
  font-family: 'ABC Favorit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}
  
.product__dropdown-content .rte span,
.product__dropdown-content .rte div {
  font-family: 'ABC Favorit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}
  
.product__dropdown-content .rte a {
  text-decoration: underline;
}

.product__dropdown-content .body-small {
  margin: 0;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .product__dropdowns {
    margin-top: 20px;
  }
}

/* Size chart dropdown */
.size-chart-dropdown {
  margin: 20px 0;
  border-top: 0;
  border-bottom: 1px solid #F8F7F4;
}

.size-chart-dropdown__header {
  width: 100%;
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.size-chart-dropdown__header .sh5 {
  margin: 0;
}

.size-chart-dropdown__control {
  width: 9px;
  height: 9px;
  position: relative;
}

.size-chart-dropdown__control::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 4px;
  border-right: 1px solid black;
  transition: opacity .3s ease;
}

.size-chart-dropdown__control::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 4px;
  left: 0;
  border-bottom: 1px solid black;
}

.size-chart-dropdown.active .size-chart-dropdown__control::before {
  opacity: 0;
}

.size-chart-dropdown__content {
  display: none;
}
  
@media screen and (max-width: 768px) {
  .size-chart-dropdown__tabs {
    gap: 0 !important;
  }
}
  
/* Gift card */
.product--gift-card .product__price {
  margin-bottom: 40px;
}

.product--gift-card .product-form__input:not(.product-form__quantity) {
  padding-bottom: 27px;
  border-bottom: 1px solid #F8F7F4;
}

.product--gift-card .form__label {
  margin-bottom: 16px;
}

.product--gift-card .product-form__input input[type='radio'] + label {
  height: 46px;
  width: 46px;
}

.product--gift-card .product-form__input input[type='radio'] + label::after {
  height: 60px;
  width: 60px;
}

.product--gift-card .product-form__input-active {
  display: none;
}

.product--gift-card .product__media {
  padding-bottom: 100%;
}

.product--gift-card .product__thumbnail-item .aspect-ratio::before {
  padding-bottom: 100%;
}

@media only screen and (max-width: 768px) {
  .product--gift-card .product__price {
    margin-bottom: 20px;
  }

  .product--gift-card .product-form__input:not(.product-form__quantity) {
    padding-bottom: 20px;
  }

  .product--gift-card .product-form__input input[type='radio'] + label {
    height: 40px;
    width: 40px;
  }
  
  .product--gift-card .product-form__input input[type='radio'] + label::after {
    height: 50px;
    width: 50px;
  }
}
  
/* Product Recommendations */
.product-recommendations {
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
  overflow: hidden;
}

.product-recommendations__heading {
  margin: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-recommendations__heading .glow {
  height: 23px;
  width: 23px;
  margin: 0 30px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.product-recommendations__grid {
  overflow: visible;
}

/* Scrollbar */
.product-recommendations .swiper-scrollbar {
  margin-top: 40px;
  height: 1px;
  background: rgba(0, 0, 0, .04);
}

.product-recommendations .swiper-scrollbar-drag {
  background: black;
}

@media only screen and (max-width: 768px) {
  .product-recommendations {
    margin: 80px 0 60px;
  }

  .product-recommendations__heading {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  .product-recommendations__heading .glow {
    margin: 0 10px;
  }
}

.almost-sold-out {
  text-align: center;
  padding: 10px;
  background: var(--tan);
  display: none;
  margin-bottom: 0;
}


/*============================================================================
  Monday Body
==============================================================================*/
.monday-body .product {
  margin-bottom: 60px;
}

.monday-body .product__title {
  margin-bottom: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.015em;
  text-transform: unset;
}

.monday-body .product__info-wrapper .form__label {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  opacity: 1;
  color: black;
}

.monday-body .product__active-color,
.monday-body .product-form__input-active {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: unset;
}

.monday-body .product__size-chart {
  width: 100%;
  margin-top: 10px;
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: unset;
  border-top: 1px solid #F8F7F4;
}

.monday-body .product__price,
.monday-body .product__swatches,
.monday-body .product__dropdown {
  border-color: #F8F7F4;
}

.monday-body .product-form__button-wrapper .quantity {
  background-color: transparent;
  border: 1px solid black;
}

.monday-body #dropahint .hvr-fade {
  background-color: var(--body-brown-1) !important;
  border: 0 !important;
}

.monday-body .product__dropdown-header p {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.monday-body .product__dropdown-content .body-small {
  line-height: 1.65;
}

.monday-body #dropahint #dropahint-cta #u_body a {
  background: #EFF3DA !important;
}

.monday-body .size-chart__container {
  background-color: #faf9f6;
}

.monday-body .size-chart__tab.active:before, .monday-body .size-chart__tab.active:after,
.size-chart__tab:hover:before,
.size-chart__tab:hover:after {
  border-color: black !important;
}

/* Adjust Swatch Size */
.product--adjust-swatches .product-form__input:not(.color-swatches) input[type=radio]+label {
  width: auto;
  padding: 0 15px;
  border-radius: 50px;
}

.product--adjust-swatches .product-form__input:not(.color-swatches) input[type=radio]+label::after {
  width: calc(100% + 14px);
  border-radius: 50px;
}

.product--adjust-swatches .product-form__input-buttons--select-size .product-form__input-active {
  display: none;
}

.product-media__icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.product-media__icon svg {
  width: 50px;
  height: 50px;
}