.main-blog {
  padding: 50px 0 0;
}

.main-blog__header {
  margin: 0 0 40px;
}

.main-blog__header.show-filters {
  margin-left: 230px;
}

.main-blog__header h1 {
  margin: 0 0 60px;
}

.main-blog__header p {
  margin: 0;
}

.main-blog__content.show-filters {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 0;
}

.main-blog__filters {
  padding-right: 20px;
  position: sticky;
  top: 110px;
}

.main-blog__filters .detail-caps {
  margin: 0 0 16px;
}

.main-blog__filters a {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.main-blog__filters a:last-child {
  margin: 0;
}

.main-blog__filters .active-glow {
  height: 14px;
  width: 14px;
  margin-right: 10px;
  display: block;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.main-blog__articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 20px;
}

.main-blog__pagination {
  grid-column: span 2;
}

@media screen and (max-width: 1050px) {
  .main-blog__header.show-filters {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .main-blog__articles {
    grid-template-columns: 1fr;
  }

  .main-blog__pagination {
    grid-column: span 1;
  }
}

@media screen and (max-width: 768px) {
  .main-blog {
    padding-top: 35px;
  }

  .main-blog .body-large.hide-desktop {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .main-blog__header h1 {
    margin-bottom: 20px;
  }

  .main-blog__header h1 span:last-child {
    display: block;
    text-align: right;
  }

  .main-blog__content.show-filters {
    display: block;
  }

  .main-blog__filters-wrapper {
    margin: 0 -10px;
    padding: 15px 0;
    position: sticky;
    top: 58px;
    background: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    z-index: 2;
    overflow-x: scroll;
  }

  .main-blog__filters {
    width: fit-content;
    margin: 0 13px;
    padding-bottom: 15px;
    position: unset;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .main-blog__filters a {
    margin: 0 42px 0 0;
    font-size: 16px;
    opacity: .4;
    white-space: nowrap;
  }

  .main-blog__filters a.active {
    opacity: 1;
  }

  .main-blog__filters a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
    border-bottom: 1px solid black;
  }

  .main-blog__filters a:last-child {
    margin: 0;
  }

  .main-blog__filters a .active-glow {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .main-blog__filters a span {
    position: relative;
  }

  .main-blog__articles {
    gap: 30px;
  }
}