.body-video {
  padding: 70px 0;
  text-align: center;
  background-color: rgba(242, 240, 232, 0.4);
}

.body-video__title {
  margin: 0 0 30px;
}

.body-video__container {
  padding-bottom: 35%;
  position: relative;
  overflow: hidden;
}

.body-video__container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.body-video__cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.body-video__cover svg {
  width: 60px;
  height: auto;
  position: relative;
}

.body-video__cover.faded {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .body-video {
    padding: 50px 0;
  }
  
  .body-video__title {
    margin: 0 0 25px;
  }

  .body-video__container {
    padding-bottom: 70%;
  }
}