.hero {
  /* height: 700px; */
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.hero .page-width {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.hero-overlay__link {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.hero img {
  object-position: top;
}

.hero .page-width {
  width: 100%;
}

.hero__container {
  max-width: 700px;
  padding: 90px 0 30px;
  position: relative;
}

.hero.hero--small .hero__container {
  max-width: 300px;
}

.hero__container .hero__button {
  z-index: 2;
}

.hero__text .glow {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.hero__text .h1 {
  margin: 0;
}

.hero__text .btn {
  margin: 16px 0 0;
  color: white;
  line-height: 1.23;
}

.hero__container .button:hover {
  background: transparent;
  color: white;
  border-color: white;
}

.hero__container .button {
  margin-top: 40px;
}

/* Other positions */
.hero.hero--top-left .page-width {
  justify-content: flex-start;
  align-items: flex-start;
}

.hero.hero--top-center .page-width {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.hero.hero--top-right .page-width {
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
}

.hero.hero--center-left .page-width {
  justify-content: flex-start;
  align-items: center;
}

.hero.hero--center-center .page-width {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero.hero--center-right .page-width {
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.hero.hero--bottom-left .page-width {
  justify-content: flex-start;
  align-items: flex-end;
}

.hero.hero--bottom-center .page-width {
  /* justify-content: center;
  align-items: flex-end; */
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero.hero--bottom-right .page-width {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero.hero--bottom-split .hero__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero.hero--top-center .hero__container,
.hero.hero--center-center .hero__container,
.hero.hero--bottom-center .hero__container {
  margin: 0 auto;
}

.hero__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* 
.hero__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media screen and (max-width: 768px) {
  /* .hero {
    height: 620px;
  } */

  .hero__container {
    max-width: 400px;
    padding-top: 0;
    padding-bottom: 100px;
    display: block;
  }

  .hero__caption {
    max-width: 200px;
    margin-bottom: 30px;
  }

  .hero__container .button {
    background: transparent;
    color: white;
  }
}