.contact-emails {
  padding: 100px 0;
}

.contact-emails .emails-group {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 100px;
  text-align: center;
}

.contact-emails .button {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .contact-emails {
    padding: 40px 0;
  }

  .contact-emails .emails-group {
    flex-flow: column;
    grid-gap: 40px;
  }

  .contact-emails .email {
    text-decoration: underline;
  }

  .contact-emails .button {
    display: none;
  }
}
