.body-image-text-banner {
  min-height: 315px;
  padding: 40px 0;
  position: relative;
  display: flex;
}

.body-image-text-banner--center-left,
.body-image-text-banner--center,
.body-image-text-banner--center-right {
  align-items: center;
}

.body-image-text-banner--bottom-left,
.body-image-text-banner--bottom-center,
.body-image-text-banner--bottom-right {
  align-items: flex-end;
}

.body-image-text-banner--large {
  min-height: 500px;
}

.body-image-text-banner .page-width {
  width: 100%;
  display: flex;
}

.body-image-text-banner--top-center .page-width,
.body-image-text-banner--center .page-width,
.body-image-text-banner--bottom-center .page-width {
  justify-content: center;
  text-align: center;
}

.body-image-text-banner--top-right .page-width,
.body-image-text-banner--center-right .page-width,
.body-image-text-banner--bottom-right .page-width {
  justify-content: flex-end;
  text-align: right;
}

.body-image-text-banner__content {
  position: relative;
  color: white;
}

.body-image-text-banner__subtitle {
  margin: 0 0 30px;
}

.body-image-text-banner__text {
  max-width: 315px;
  margin: 0 0 35px;
}

.body-image-text-banner--center .body-image-text-banner__text {
  margin-left: auto;
  margin-right: auto;
}

.body-image-text-banner__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .body-image-text-banner {
    min-height: 315px;
    padding: 30px 10px;
    align-items: flex-end;
  }

  .body-image-text-banner__text {
    margin-bottom: 20px;
  }
}