.hero {
  height: 700px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.hero img {
  object-position: top;
}

.hero .page-width {
  width: 100%;
}

.hero__container {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.hero__caption {
  max-width: 300px;
}

.hero__caption .glow {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.hero__caption .btn {
  margin: 12px 0 0;
  color: white;
  line-height: 1.23;
}