.shop-instagram {
  margin-top: 50px; 
}

.shop-instagram__header {
  margin-bottom: 30px;
}

.shop-instagram__header h3 {
  margin: 0 0 50px;
  text-align: center;
  font-size: 50px;
}

.shop-instagram__subheader {
  display: flex;
  align-items: flex-end;
}

.shop-instagram__subheader .detail-caps {
  margin: 0 50px 5px 0;
}

.shop-instagram__subheader .body-large {
  margin: 0;
}

.fs-wide-timeline .fs-entry-container {
  width: 33.33%;
  padding-top: 33.33%;
}

.fs-normal-timeline .fs-entry-container {
  width: 33.33%;
  padding-top: 33.33%;
}

@media screen and (max-width: 768px) {
  .shop-instagram {
    margin-top: 40px; 
  }

  .shop-instagram__header h3 { 
    margin: 0;
    font-size: 35px;
  }

  .shop-instagram__header {
    margin-bottom: 15px;
  }

  div.fs-timeline-entry {
    margin: 5px !important;
  }
}