/* Navigation */
.fit-dictionary-nav-wrapper {
  position: sticky;
  top: var(--header-height);
  z-index: 2;
}

.fit-dictionary-nav {
  padding: 17px 0 21px;
  background: white;
  border-bottom: 1px solid #F2F2F2;
  overflow: scroll;
}

.fit-dictionary-nav__container {
  width: fit-content;
  margin: 0 auto;
  padding: 0 120px;
  display: flex;
}

.fit-dictionary-nav__button {
  padding: 0 20px;
  display: block;
  position: relative;
}

.fit-dictionary-nav__button::after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--yellow);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  opacity: 0;
  transition: opacity .3s ease;
}

.fit-dictionary-nav__button.active::after {
  opacity: 1;
}

.fit-dictionary-nav__button span {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1600px) {
  .fit-dictionary-nav__container {
    padding: 0 60px;
  }
}

@media screen and (max-width: 1440px) {
  .fit-dictionary-nav__container {
    padding: 0 30px;
  }

  .fit-dictionary-nav__button {
    padding: 0 12px;
  }
}

@media screen and (max-width: 768px) {
  .fit-dictionary-nav-wrapper {
    top: var(--mobile-header-height);
    border: 0;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  }

  .fit-dictionary-nav {
    padding: 15px 0;
  }

  .fit-dictionary-nav__button {
    padding: 0 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .fit-dictionary-nav__button.active::before {
    content: '';
    position: absolute;
    left: 11px;
    right: 11px;
    bottom: -1px;
    border-bottom: 1px solid black;
  }

  .fit-dictionary-nav__button::after {
    transform: translate(-50%, calc(-50% - 8px));
  }

  .fit-dictionary-nav__button:first-child {
    padding-left: 0;
  }

  .fit-dictionary-nav__button:first-child.active::before {
    left: 15px;
  }

  .fit-dictionary-nav__button:last-child {
    padding-right: 0;
  }

  .fit-dictionary-nav__button:last-child.active::before {
    right: 15px;
  }

  .fit-dictionary-nav__container {
    padding: 0 10px;
  }
}

.fit-dictionary {
  padding: 60px 0;
  display: grid;
  grid-template-columns: .4fr 1fr .4fr;
  gap: 20px;
}

/* Categories */
.fit-dictionary__categories-sticky {
  position: sticky;
  top: calc(var(--header-height) + 80px);
}

.fit-dictionary__categories-sticky .detail-caps {
  margin: 0 0 16px;
}

.fit-dictionary__categories-sticky .body-large {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.fit-dictionary__categories-sticky .body-large:last-child {
  margin: 0;
}

.fit-dictionary__categories-sticky .active-glow {
  height: 14px;
  width: 0;
  margin-right: 10px;
  display: block;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: width .2s ease;
}

.fit-dictionary__categories-sticky .body-large.active .active-glow {
  width: 14px;
}

/* List */
.fit-dictionary__item {
  padding-bottom: 30px;
}

.fit-dictionary__item.hidden {
  display: none;
}

.fit-dictionary__item:last-child {
  margin: 0;
}

.fit-dictionary__item h4 {
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F8F7F4;
}

.fit-dictionary__item p {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .fit-dictionary {
    grid-template-columns: 200px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .fit-dictionary {
    padding: 20px 0;
    display: block;
  }

  .fit-dictionary__item.hidden {
    display: block;
  }
}