.collection-header {
  margin: 50px 0 20px;
  position: relative;
}

.collection-header__container {
  position: relative;
  margin: 0 auto;
}

.collection-header__container iframe {
  max-width: 500px;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -50px;
}

.collection-header__container h2 {
  margin: 0 0 20px;
}

.collection-header__container p {
  margin: 0;
  max-width: 650px;
}

.collection-header__container p b {
  font-weight: 500;
}

.collection {
  margin-bottom: 60px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .collection-header__container {
    text-align: center;
  }
  
  .collection-header__container iframe {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0;
    bottom: 0;
  }
  
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .collection .title:not(.title--no-heading) {
    margin-top: -1rem;
  }

  .collection-header {
    margin: 30px 0 0;
  }

  .collection-header__container h2 {
    margin: 0 0 10px;
  }

  .collection-header__container p {
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 769px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
  background: white;
}

@media screen and (min-width: 769px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 100px;
  margin-bottom: 120px;
}

.collection--empty .title {
  margin: 0 0 40px;
  text-align: center;
}

.collection--empty-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.collection--empty-buttons p {
  margin: 0 20px;
}

.product-grid { 
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px 20px;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .product-grid { 
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .product-grid { 
    grid-template-columns: 1fr 1fr;
    gap: 30px 10px;
  }
}

/* Fit Tip Card */
.product-grid__tip-card {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.make-transparent {
  mix-blend-mode: multiply;
}

.product-grid__tip-card .sh1 {
  margin: 0 0 20px;
  font-size: 18px;
}

.product-grid__tip-btn {
  margin: 20px auto;
  padding: 8px 10px;
  display: inline-block;
  background: white;
}

.product-grid__tip-card .body {
  max-width: 230px;
  margin: 0 auto;
}

/* Lifestyle Card */
.product-grid__lifestyle-card {
  position: relative;
  grid-column: span 2;
}

.product-grid__lifestyle-card-top {
  padding: 9px 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.product-grid__lifestyle-card-bottom {
  padding: 9px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  z-index: 2;
}

.product-grid__lifestyle-card h1 {
  margin: 0;
  color: white;
  font-size: 70px;
}

@media screen and (max-width: 768px) {
  .product-grid__lifestyle-card {
    padding-bottom: 70%;
  }

  .product-grid__lifestyle-card h1 {
    font-size: 40px;
  }
}

/*============================================================================
  Monday Body
==============================================================================*/
/*================ Header ================*/
.monday-body .collection-header {
  margin: 0;
  padding: 50px 0 20px;
  text-align: left;
}

.monday-body .collection-header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  align-items: center;
}

.monday-body .collection-header__container h2 {
  margin: 0;
  font-family: 'elza-text', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.06;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.monday-body .collection-header__container p {
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .monday-body .collection-header {
    padding: 40px 0;
  }

  .monday-body .collection-header__container {
    display: block;
  }

  .monday-body .collection-header__container h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

/*================ Filters ================*/
.monday-body .collection-filter-section {
  margin-top: 0;
}

.monday-body .radio-button__indicator::before {
  background: var(--body-brown-1);
}

.monday-body .collection-filters__title,
.monday-body .collection-filters__dropdown-title,
.monday-body .collection-filters__total p,
.monday-body .collection-filters__active-tag {
  font-family: 'elza-text', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: black;
}

.monday-body .collection-filters__button,
.monday-body .collection-filters__tag,
.monday-body .collection-filters__sort,
.monday-body .collection-filters__mobile-button {
  font-family: 'elza-text', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: unset;
}

.monday-body .collection-filters__active-tag {
  background: var(--body-brown-1);
}

.monday-body .collection-filters__dropdown-list {
  gap: 20px 25px;
}

.monday-body .collection-filters__clear {
  background: var(--body-brown-1);
  color: black
}

@media screen and (max-width: 768px) {
  .monday-body .collection-filters__container {
    padding-top: 0;
  }

  .monday-body .collection-filters__right {
    /* display: none; */
  }

  .collection-filters__total {
    display: none;
  }

  .monday-body .collection-filters__mobile-buttons {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    gap: 0;
  }

  .monday-body .collection-filters__mobile-button {
    margin: 10px 0;
    padding: 4px 0;
    background-color: transparent;
  }

  .monday-body .collection-filters__mobile-button:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* Body card */
.product-grid__body-card {
  grid-column: span 2;
  position: relative;
}

.product-grid__body-card video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.product-grid__body-card-text {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.product-grid__body-card-text h2 {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.product-grid__body-card-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .product-grid__body-card {
    grid-column: span 1;
  }
}