/* General */
.events-wrapper {
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.event-title {
  margin: 0 0 20px;
}

.event-block .text-link {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .events-wrapper {
    gap: 40px;
  }

  .event-title {
    margin-bottom: 14px;
    font-size: 16px;
  }
}

/* Header */
.events-header__title {
  margin: 50px 0 0;
  text-align: center;
  font-size: 60px;
}

.events-header__navigation-wrapper {
  margin-bottom: -20px;
  overflow-x: scroll;
}

.events-header__navigation {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.events-header__navigation-item {
  position: relative;
}

.events-header__navigation-item::before {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background-color: var(--yellow);
  filter: blur(4px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.events-header__navigation-item.active::before {
  opacity: 1;
}

.events-header__banner {
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-header__banner-content {
  position: relative;
  text-align: center;
  z-index: 2;
  color: white;
}

.events-header__banner-subtitle {
  margin: 0 0 10px;
}

.events-header__banner-title {
  margin: 0;
  font-size: 40px;
  line-height: 1.1;
}

.events-header__banner-link {
  margin-top: 22px;
}

@media screen and (max-width: 768px) {
  .events-header {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .events-header__title {
    margin: 0;
    font-size: 50px;
  }

  .events-header__navigation-wrapper {
    margin: 0 -10px;
    padding: 16px 10px 11px;
    position: sticky;
    top: var(--mobile-header-height);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.03);
    z-index: 6;
    order: -1;
    background-color: white;
  }

  .events-header__navigation {
    margin: 0 auto;
    gap: 30px;
  }

  .events-header__navigation-item {
    padding-bottom: 8px;
    opacity: 0.4;
    transition: opacity 0.3s ease;
  }

  .events-header__navigation-item::before {
    content: none;
  }

  .events-header__navigation-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease;
  }

  .events-header__navigation-item.active {
    opacity: 1;
  }

  .events-header__navigation-item.active::after {
    border-color: black;
  }

  .events-header__banner {
    margin: 0 -10px;
  }

  .events-header__banner-subtitle {
    margin-bottom: 18px;
  }

  .events-header__banner-title {
    font-size: 30px;
  }

  .events-header__banner-link {
    margin-top: 30px;
  }
}

/* Book */
.events-book__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.events-book__block {
  padding-bottom: 100%;
  position: relative;
  background-color: #FCF8E9;
  transition: background-color 0.3s ease;
}

.events-book__block:hover {
  background-color: var(--tan);
}

.events-book__block-content {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-book__subtitle {
  margin: 0 0 20px;
  opacity: 0.5;
}

.events-book__title {
  margin: 0;
}

.events-book__link {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .events-book__blocks {
    grid-template-columns: 1fr;
  }

  .events-book__block {
    min-height: 200px;
    padding-bottom: unset;
  }

  .events-book__subtitle {
    margin-bottom: 10px;
  }

  .events-book__link {
    margin-top: 24px;
  }
}

/* Services */
.events-services__container {
  display: flex;
  grid-template-columns: 1fr;
  gap: 20px;  
}

.events-services__item {
  width: 100%;
  min-height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--tan);
}

.events-services__image {
  position: relative;
}

.events-services__content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.events-services__subtitle {
  margin: 0 0 20px;
  opacity: 0.5;
}

.events-services__title {
  margin: 0;
  font-size: 40px;
}

.events-services__link {
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .events-services__item {
    min-height: unset;
    display: block;
  }

  .events-services__image {
    padding-bottom: 70%;
  }

  .events-services__content {
    padding: 35px 20px;
  }

  .events-services__subtitle {
    margin-bottom: 10px;
  }

  .events-services__title {
    font-size: 24px;
  }

  .events-services__link {
    margin-top: 24px;
  }
}

/* Stores */
.events-stores__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.events-stores__item {
  width: 100%;
  min-height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.events-stores__image {
  position: relative;
}

.events-stores__content {
  padding: 40px 40px 40px 60px;
  display: flex;
  align-items: center;
}

.events-stores__content-container {
  width: 100%;
}

.events-stores__location {
  margin: 0 0 20px;
  opacity: 0.5;
}

.events-stores__name {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1.1;
}

.events-stores__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.events-stores__grid-title {
  margin: 0 0 6px;
  opacity: 0.5;
}

.events-stores__grid-text {
  margin: 0;
  line-height: 2;
}

.events-stores__link {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .events-stores__content {
    padding: 30px 0 20px;
  }

  .events-stores__item {
    min-height: unset;
    display: block;
  }

  .events-stores__image {
    padding-bottom: 70%;
  }

  .events-stores__link {
    margin-top: 20px;
  }
}

/* Happening */
.events-happening__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.events-happening__item {
  width: 100%;
  min-height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.events-happening__image {
  position: relative;
}

.events-happening__content {
  padding: 40px 40px 40px 60px;
  display: flex;
  align-items: center;
}

.events-happening__date {
  margin: 0 0 20px;
  opacity: 0.5;
}
  
.events-happening__title {
  margin: 0;
  line-height: 1.1;
  font-size: 24px;
}

.events-happening__text {
  margin: 20px 0 0;
}

.events-happening__link {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .events-happening__content {
    padding: 30px 0 20px;
  }

  .events-happening__item {
    min-height: unset;
    display: block;
  }

  .events-happening__image {
    padding-bottom: 70%;
  }

  .events-happening__link {
    margin-top: 24px;
  }
}

/* FAQs */
.events-faqs__container {
  border-top: 1px solid #F8F7F4;
}