/* Header */
.rewards-header {
  margin: 60px 0 80px;
}

.rewards-header__container {
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
}

.rewards-header__container h1 {
  margin: 0 0 10px;
}

.rewards-header__container p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .rewards-header {
    margin: 40px 0 50px;
  }

  .rewards-header__container h1 {
    margin: 0 0 20px;
  }

  .rewards-header__container p {
    padding: 0 27px;
    font-size: 16px;
  }
}

/* Levels */
.rewards-levels {
  padding: 65px 0;
  background: #EBE9E2;
}

.rewards-levels__container {
  max-width: 920px;
  margin: 0 auto;
}

.rewards-levels__container .swiper-wrapper {
  justify-content: space-around;
}

.rewards-levels__item {
  text-align: center;
}

.rewards-levels__item .sh2 {
  margin: 0 0 20px;
}

.rewards-levels__item h2 {
  margin: 0 0 20px;
}

.rewards-levels__item .body-small {
  max-width: 230px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .rewards-levels {
    padding: 50px 0 30px;
  }

  .rewards-levels .page-width {
    padding: 0;
  }

  .rewards-levels__container .swiper-wrapper {
    justify-content: flex-start;
  }

  .rewards-levels__item {
    opacity: .2;
    transition: opactiy .3s ease;
  }

  .rewards-levels__item.swiper-slide-active {
    opacity: 1;
  }

  .rewards-levels__item[data-swiper-slide-index="0"] {
    padding-top: 30px;
  }

  .rewards-levels__item[data-swiper-slide-index="1"] {
    padding-top: 15px;
  }

  .rewards-levels__item .body-small {
    max-width: 150px;
    font-size: 12px;
  }

  .rewards-levels__pagination {
    margin-top: 20px;
    position: unset;
  }

  .rewards-levels__pagination .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    border: 1px solid black;
    background: transparent;
    opacity: 1;
    transition: background .3s ease;
  }

  .rewards-levels__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
  }
}

/* CTA */
.rewards-cta {
  background: linear-gradient(180deg, #EBE9E2 33%, transparent 33%);
}

.rewards-cta__container {
  min-height: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rewards-cta__content {
  padding: 40px 20px;
  position: relative;
  color: white;
}

.rewards-cta__content h3 {
  margin: 0 0 20px;
}

.rewards-cta__content .body-large {
  max-width: 315px;
  margin: 0 auto 20px;
}

.rewards-cta__buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media only screen and (max-width: 768px) {
  .rewards-cta__content {
    padding: 40px 24px;
  }

  .rewards-cta__content h3 {
    font-size: 35px;
  }

  .rewards-cta__buttons {
    gap: 20px;
  }
  
  .rewards-cta__buttons .button {
    width: 100%;
    padding: 16px 16px 20px;
  }
}

/* Chart */
.rewards-chart {
  margin: 80px 0;
}

.rewards-chart__wrapper {
  max-width: 1245px;
  margin: 0 auto;
}

.rewards-chart__table {
  width: 100%;
}

.rewards-chart__table th {
  padding: 0 20px 30px;
  text-align: center;
  border-bottom: 1px solid #EBE9E2;
}

.rewards-chart__table th .sh2 {
  margin: 0 0 10px;
}

.rewards-chart__table th h4 {
  margin: 0 0 10px;
}

.rewards-chart__table th .body {
  margin: 0;
}

.rewards-chart__table td {
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid #EBE9E2;
}

.rewards-chart__table td p {
  margin: 0;
}

.rewards-chart__table td.left-align {
  text-align: left;
}

.rewards-chart__table-dot {
  height: 10px;
  width: 10px;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  background: black;
}

@media only screen and (max-width: 768px) {
  .rewards-chart {
    margin: 50px 0;
  }

  .rewards-chart .page-width {
    padding: 0;
  }

  .rewards-chart__wrapper {
    overflow: scroll;
  }

  .rewards-chart__table th {
    padding: 0 10px 20px;
    white-space: nowrap;
  }

  .rewards-chart__table th h4 {
    width: 143px;
  }

  .rewards-chart__table td {
    padding: 15px 10px;
  }

  .rewards-chart__table td p {
    max-width: 116px;
    margin: 0 auto;
  }
}

/* Email Capture */
.rewards-email {
  padding-bottom: 40px;
  overflow: hidden;
}

.rewards-email .page-width {
  position: relative;
}

.rewards-email__container {
  min-height: 600px;
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  background: black;
}

.rewards-email__image {
  position: relative;
}

.rewards-email__content {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.rewards-email__content-container {
  max-width: 410px;
}

.rewards-email__content-container h2 {
  margin: 0 0 20px;
}

.rewards-email__content-container p {
  margin: 0 0 40px;
}

.rewards-email__glow {
  height: 220px;
  width: 220px;
  position: absolute;
  bottom: -73px;
  left: -84px;
  border-radius: 100%;
  background: var(--yellow);
  filter: blur(70px);
  -webkit-filter: blur(70px);
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .rewards-email {
    padding-bottom: 20px;
  }

  .rewards-email__container {
    min-height: unset;
    display: block;
  }

  .rewards-email__image {
    display: none;
  }

  .rewards-email__content {
    padding: 35px 30px;
  }

  .rewards-email__glow {
    display: none;
  }
}

/* FAQ */
.rewards-faq {
  padding: 80px 0;
  background: #F2F0E8;
}

.rewards-faq__container {
  max-width: 1245px;
  margin: 0 auto;
}

.rewards-faq__header {
  margin-bottom: 56px;
  text-align: center;
}

.rewards-faq__header h2 {
  margin: 0 0 20px;
}

.rewards-faq__header p {
  margin: 0 0 36px;
}

.rewards-faq__buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.rewards-faq__content {
  border-top: 1px solid black;
}

.faq__item {
  border-color: black;
}

.faq__item-answer p {
  max-width: 990px;
}

@media only screen and (max-width: 768px) {
  .rewards-faq {
    padding: 40px 0;
  }

  .rewards-faq__header {
    margin-bottom: 40px;
  }

  .rewards-faq__header p {
    margin-bottom: 30px;
  }

  .rewards-faq__buttons {
    gap: 20px;
  }

  .rewards-faq__buttons .button {
    padding: 16px 16px 20px;
    width: 100%;
  }
}

/* V2 REWORK: REWARDS PAGE CSS */

@media only screen and (max-width: 768px) {
  
  .yotpo-widget-hero-section .yotpo-text-on-background .yotpo-text-container .yotpo-text-and-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .yotpo-widget-referral-widget .yotpo-referral-image {
    height: 100%;
    width: 100%;
    display: block !important;
    flex: none !important;
    position: relative;
    padding-bottom: 100%;
  }

  .yotpo-widget-referral-widget .yotpo-container-background:not(.yotpo-is-mobile).yotpo-swap-container {
    flex-direction: column;
  }

  .yotpo-widget-referral-widget .yotpo-container-background .yotpo-tile-wrapper {
    padding: 20px !important;
  }

  .yotpo-vip-tiers-widget .yotpo-vip-tiers-grid-benefit-name p {
    font-size: 10px;
  }
  
}