{{ 'template-events.css' | asset_url | stylesheet_tag }}
<script src="{{ 'events.js' | asset_url }}" defer="defer"></script>

<h1 class="events-header__title">Events</h1>
<div class="page-width">
  <div class="events-wrapper">

    <div class="events-header__navigation-wrapper no-scrollbar">
      <div class="events-header__navigation">
        <button class="events-header__navigation-item sh3" data-section="book">Book</button>
        <button class="events-header__navigation-item sh3" data-section="services">Services</button>
        <button class="events-header__navigation-item sh3" data-section="stores">Stores</button>
        <button class="events-header__navigation-item sh3" data-section="events">Events</button>
        <button class="events-header__navigation-item sh3" data-section="faqs">FAQs</button>
      </div>
    </div>

    {% section 'body-events-header' %}
    {% section 'body-events-book' %}
    {% section 'body-events-services' %}
    {% section 'body-events-stores' %}
    {% section 'body-events-happening' %}
    {% section 'body-events-faqs' %}
  </div>
</div>